<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<%= render partial: "rapidfire/answers/question_text", locals: {f: f, answer: answer} %>


<%= f.fields_for :answer_text do |af| %>
  <%- answer.question.options.each do |option| %>
    <label class='survey__multiple-choice-field'>
      <%= f.check_box nil, { id: nil, checked: checkbox_checked?(answer, option) }, option, :required => is_required_question?(answer)%>
      <div class='label'><%= option %></div>
    </label>
  <% end %>
<% end %>
