<% content_for :after_title do " - Add New Course" end %>

<header class="main-page">
  <h1><%= t("application.dashboard") %></h1>
</header>

<section id="courses">
  <div class="section-header">
    <% if flash[:notice] %>
      <div class="alert"><p><%= flash[:notice] %></p></div>
    <% end %>
    <h3>Add New Week for <%= @course.title %></h3>
    <%= form_for :week, url: weeks_path do |f| %>
      <fieldset>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </fieldset>

      <fieldset>
        <%= f.submit %>
      </fieldset>
    <% end %>
  </div>
</section>