%section#courses
  %table.table.table--hoverable.table--sortable
    %thead
      %tr
        %th.sort.sortable{"data-sort" => "title"}
          = t("#{@pres.course_string_prefix}.courses")
          %span.sortable-indicator
        %th.sort.sortable{"data-sort" => "revisions", :style => "width: 165px;"}
          .tooltip-trigger
            = t("metrics.revisions")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("courses.revisions_doc", timeframe: RevisionStat::REVISION_TIMEFRAME)
        %th.sort.sortable{"data-sort" => "characters", :style => "width: 172px;"}
          .tooltip-trigger
            = t("metrics.char")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("courses.character_doc")
        %th.sort.sortable{"data-sort" => "views", :style => "width: 125px;"}
          .tooltip-trigger
            = t("metrics.view")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("courses.view_doc")
        %th.sort.sortable{"data-sort" => "students", :style => "width: 200px;"}
          = t("users.editors")
          %span.sortable-indicator
    %tbody.list
      - if @pres.strictly_current.empty?
        %tr
          %td{:colspan => "5"}= t("courses.nocourses")
      - else
        - @pres.strictly_current.each do |c|
          = render 'admin_course_row', course: c, user: true
