%section#courses
  %table.table.table--hoverable.table--sortable
    %thead
      %tr
        %th.sort.sortable{"data-sort" => "title"}
          = t("#{@pres.course_string_prefix}.courses")
          %span.sortable-indicator
        %th.sort.sortable{"data-sort" => "revisions", :style => "width: 165px;"}
          .tooltip-trigger
            = t("metrics.revisions")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("courses.revisions_doc", timeframe: RevisionStatTimeslice::REVISION_WINDOW_DAYS)
        %th.sort.sortable{"data-sort" => "characters", :style => "width: 172px;"}
          .tooltip-trigger
            = t("metrics.word_count")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("courses.word_count_doc")
        %th.sort.sortable{"data-sort" => "references", :style => "width: 172px;"}
          .tooltip-trigger
            = t("metrics.references_count")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("metrics.references_doc")
        %th.sort.sortable{"data-sort" => "views", :style => "width: 125px;"}
          .tooltip-trigger
            = t("metrics.view")
            %span.sortable-indicator
            .tooltip.dark
              %p= t("courses.view_doc")
        %th.sort.sortable{"data-sort" => "students", :style => "width: 200px;"}
          = t("users.editors")
          %span.sortable-indicator
        - if Features.wiki_ed?
          %th.sort.sortable{"data-sort" => "ungreeted", :style => "width: 150px;"}
            = t("users.ungreeted")
            %span.sortable-indicator
          %th.sort.sortable{"data-sort" => "reviewed", :style => "width: 200px;"}
            = t("metrics.last_reviewed")
            %span.sortable-indicator

    %tbody.list
      - if @pres.strictly_current.empty?
        %tr
          %td{:colspan => "5"}= t("courses.nocourses")
      - else
        - @pres.strictly_current.each do |c|
          = render 'admin_course_row', course: c, user: true
