= link_to course_slug_path(course.slug), class: 'course' do
  %span.button.border
    = t("courses.view_page")
  .course-title
    = course.title
  .course-details
    .col
      .course-details_title
        = t("courses_generic.instructors")
      .course-details_value
        - course.instructors.each do |user|
          = user.username
    .col
      .course-details_title
        = t("courses.participators_count")
      .course-details_value
        = course.students.length
