- content_for :after_title, " - " + t("application.my_dashboard")

#react_root{data: {default_course_type: ENV["default_course_type"],
                   course_string_prefix: ENV["default_course_type"].constantize.new.string_prefix}}
.container.dashboard
  %header
    %h1= @pres.heading_message
    %div
      - if @pres.can_create_course?
        = link_to course_creator_path, class: 'button dark dashboard-cta' do
          = t("course_creator.create_short")
          %i.icon.icon-plus
      - elsif @pres.show_explore_button?
        = link_to explore_path, class: 'button dark dashboard-cta' do
          = t("course_creator.find")
          %span.icon.icon-rt_arrow

  - # Show submitted/pending courses (for admins)
  - if @pres.submitted.any?
    %h2
      = t("courses.submitted_and_pending_heading")
    - @pres.submitted.each do |course|
      = render "course_row", course: course

  - # Orientation block
  - if @pres.show_orientation_block?
    %div.empty-state
      %p
        = t("dashboard.orientation_notice")
      %p
        = link_to @pres.orientation_path, class: 'button dark' do
          = t("dashboard.start_orientation")
          %i.icon.icon-rt_arrow
      %p.small
        = link_to t('dashboard.opt_out'), @pres.opt_out_path

  - if @pres.show_your_courses_label?
    %h2
      = t("courses.yourcourses")

  - # Empty courses state
  - if @pres.current.empty? && @pres.past.empty?
    - if @pres.can_create_course?
      %div.empty-state
        %p
          = t("dashboard.no_courses_instructor")
        %p
          = t("dashboard.create_note")
        %p.small
          Be sure to have your academic calendar on hand before you begin; the assignment design tool will use the meeting dates of your class — including any school breaks and holidays — to fit your timeline into the date range you choose. Remember, you can always edit the timeline to fit your needs.
        %p.small
          = link_to t('dashboard.explore_examples'), explore_path
    - elsif @pres.show_explore_button?
      %div.empty-state
        %p
          = t("dashboard.no_courses_student")
        %p
          = t("dashboard.join_note")
        %p.small
          = link_to t('dashboard.explore_course_pages'), explore_path

  - else
    - # Courses list
    - if @pres.is_admin?
      = render "courses/user_courses"
    - else
      - @pres.current.each do |course|
        = render "course_row", course: course

    - # Archived/past courses
    - if @pres.past.any?
      %h2
        = t("courses.archived")
      - @pres.past.each do |course|
        = link_to course_slug_path(course.slug), {class: 'course course-past'} do
          %span.button.border
            = t("courses.view_page")
          %h2.course-title
            = course.title
            %span.course-term= course.term
