%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                Before your students begin drafting their work, they'll go through a series of
                preliminary activities to prepare them for their final contributions. Below are
                some tips for helping them with these early exercises.
              %h2.headline Evaluate an article
              %p.paragraph
                A critical part of learning how to contribute to Wikipedia is learning how to
                evaluate an article's quality. In
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/evaluate-wikipedia-exercise'}this exercise
                students will be asked to write up their evaluation of a Wikipedia article. When they launch
                the exercise from the dashboard, they will be prompted to begin their article evaluation,
                and the dashboard will create a page for them in their userspace where they should
                complete this evaluation. The page will look like
                %a.link{href: 'https://en.wikipedia.org/wiki/Template:Dashboard.wikiedu.org_evaluate_article'}this.
                (Students will need to be logged in both on the Dashboard and on Wikipedia for this to work properly.)
              %p.paragraph
                Once completed, you'll be able to find their article evaluations by choosing a student in the
                %a.link{href: "#{@course_link}/students/articles"} Students Assignments view
                of your course page, clicking the "Exercises & Trainings" table, then following the "Exercise Sandbox"
                link.
              %h2.headline Early edits
              %p.paragraph
                Making that first live edit on Wikipedia can be daunting, which is why we've designed a few exercises
                that get students over this hurdle before starting on their main contribution. Depending on your
                selections during the assignment design process, you may have assigned exercises to
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/add-to-article-exercise'}add to an article
                and/or
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/copyedit-exercise'}copyedit an article.
              %p.paragraph
                In either case, students will add a very small amount of content to a live article. The
                %a.link{href: "#{@course_link}/students/overview"}Students Overview
                can show you who has been active recently, and how much content they've added to live articles and
                sandbox pages ("userspace"). You can click a student to see exactly which articles they've edited,
                and activate the
                %strong Article Viewer
                to see what the article currently looks like. Once the Authorship Highlighting data loads, you'll be able to
                see the students' contributions in the context of the rest of the article.
              %h2.headline Choosing an article
              %p.paragraph
                With its millions of entries, finding an article to work on can seem overwhelming. To learn how to best approach
                this, students should go through the
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/finding-your-article'}"Finding articles"
                training module and the
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/choose-topic-exercise'}"Choose your article"
                exercise.
              %p.paragraph
                Once students have selected an article to work on, they'll assign themselves this article on the Dashboard
                on the My Articles portion of the home tab. Only students have the My Articles section. To see what this looks like,
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/keeping-track-of-your-work'}click here.
              %p.paragraph
                Once a student assigns themself an article, the Dashboard will link to dedicated sandbox pages where they can
                compile their bibliography and where they should begin drafting. They can find these pages under the My Articles section.
                (In case a student ends up working in a place other than where the Dashboard recommends, you can also see a full list of
                their sandbox pages by navigating to the
                %a.link{href: "#{@course_link}/students/articles"} Students tab
                and clicking on the 'sandboxes' link for their account.)
              %p.paragraph.center — — —
              %p.paragraph
                You can always refer to our
                %a.link{href: 'https://dashboard.wikiedu.org/faq?topic=instructor_faq'}Instructor FAQs
                for more information.
              %p.paragraph
                Good luck!
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help you with the early stages of your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Preliminary-Work-Advice-email'} leave feedback here.
