%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@instructor.real_name || @instructor.username},"
              %p.paragraph
                Your application for a spot in our Wikipedia Student Program has been approved, and your
                %a.link{href: @course_link} course page
                is now live on our Course Dashboard!
              - if @course.stay_in_sandbox?
                %p.paragraph
                  As we previously discussed, your students will keep their work in sandboxes this term.
                  We've adjusted your course page accordingly. Please remind students that they will not
                  be moving their work into the article main space. For more information about how this
                  will affect your course,
                  = succeed '.' do
                    %a.link{href: 'https://wikiedu.org/blog/2020/06/24/new-application-process-for-student-program-in-fall-2020-term/#sandboxes'} click here
              - if !@is_returning_instructor
                %p.paragraph
                  To get started with your Wikipedia assignment, please distribute the
                  following enrollment link to your students:
                %p.paragraph
                  %a.link{href: @enroll_link}= @enroll_link
                %p.paragraph
                  This link will enable your students to both create a Wikipedia account
                  and then enroll on your Dashboard course page. Once a student is
                  enrolled, you'll be able to use the Dashboard to track their progress
                  throughout the Wikipedia assignment.
                %p.paragraph
                  Please get your students onto the Dashboard early on so that students can
                  familiarize themselves with the Wikipedia assignment.
                %p.paragraph
                  In addition to myself, you'll be working with one of our Wikipedia Experts.
                  You can reach out to either of us using the "Get Help" button on your course
                  page.
                %p.paragraph
                  Finally, to learn more about how you can make the most of your Wiki Education support,
                  = succeed '.' do
                    %a.link{href: 'https://dashboard.wikiedu.org/faq/7'} click here
                  - if @course.stay_in_sandbox?
                    Thank you again for your flexibility, and we look forward to working with you.
                  - else
                    I look forward to working with you.
              - if @is_returning_instructor
                %p.paragraph
                  Please distribute the following enrollment link to your students
                  so they can enroll on your course page:
                %p.paragraph
                  %a.link{href: @enroll_link}= @enroll_link
                - if @course.stay_in_sandbox?
                  %p.paragraph
                    Thank you again for your flexibility, and we look forward to another successful term!
                - else
                  %p.paragraph
                    Looking forward to another successful term! 
              %p.paragraph
                Best,
                %br
                %em= @signed
