= "#{@course.title}: submitted!"
= '================================'
= ''
= "Dear #{@instructor.username},"
= ''
Your students can now begin enrolling on your course page. The following is your
enrollment link.
= ''
= @enroll_link
= ''
Students should click on this link to both create their Wikipedia usernames and
enroll on the course page. This is a critical step of your Wikipedia assignment,
so please distribute the above link to your class.
= ''
Thank you again for creating your course page on dashboard.wikiedu.org. We look
forward to working with you this term!
= ''
Best regards,
The Wiki Ed team
