.stats-grid
  .stats-card.module
    %h3= @user_count
    %p Total Users
  
  .stats-card.module
    %h3= @logged_in_count
    %p OAuth Users
  
  .stats-card.module
    %h3= @course_instructor_count
    %p Course Instructors
  
  .stats-card.module
    %h3= @home_wiki_count
    %p Home Wikis
  
  .stats-card.module
    %h3= @total_wikis_touched
    %p Wikis Touched
