- years = 2015..Time.now.year
- courses_data, editors_data, leaders_data, created_data, edited_data, revisions_data = [], [], [], [], [], []
- data = years.map do |year|
  - courses = Course.where("year(created_at) = #{year}")
  - courses_data << [year.to_s, courses.count]
  - editors_data << [year.to_s, CoursesUsers.with_student_role.where(course: courses).pluck(:user_id).uniq.count]
  - leaders_data << [year.to_s, CoursesUsers.with_instructor_role.where(course: courses).pluck(:user_id).uniq.count]
  - created_data << [year.to_s, courses.sum(:new_article_count)]
  - edited_data << [year.to_s, courses.sum(:article_count)]
  - revisions_data << [year.to_s, courses.sum(:revision_count)]

.chart-container
  %h3.chart-title Program Leaders & Events
  .usage-chart
    = column_chart([{ name: 'Program leaders', data: leaders_data }, { name: 'Events', data: courses_data }])

.chart-container
  %h3.chart-title Event Participants
  .usage-chart
    = column_chart([{ name: 'Event participants', data: editors_data }])

.chart-container
  %h3.chart-title Pages Activity
  .usage-chart
    = column_chart([{ name: 'Pages Created', data: created_data }, { name: 'Pages Edited', data: edited_data }])

.chart-container
  %h3.chart-title Revisions
  .usage-chart
    = column_chart([{ name: 'Revisions', data: revisions_data }])
