<% content_for :after_title do " - Analytics" end %>
<header class="main-page">
  <div class="container">
    <h1>Analytics Tools</h1>
  </div>
</header>
<div class="container">
<section>
<div class="section-header">
<h3><%= form_tag(method: 'get') do %>
  <input name="monthly_report" type="hidden" value="true" />
  <button class="button dark"><%= submit_tag("Monthly Report") %></button>

  <!-- <%= label_tag(:category, "category") %>
  <%= text_field_tag(:category, @category) %><br/>
  <%= label_tag(:depth, "depth") %>
  <%= text_field_tag(:depth) %><br/>
  <%= label_tag(:minviews, "minimum views") %>
  <%= text_field_tag(:minviews, @min_views) %><br/>
  <%= label_tag(:maxwp10, "maximum completeness (0-100)") %>
  <%= text_field_tag(:maxwp10, @max_wp10) %><br/>
  <button class="button dark"><%= submit_tag("Go") %></button> -->
<% end %><br/>

<%= form_tag(method: 'get') do %>
  <input name="cohort_stats" type="hidden" value="true" />
  <button class="button dark"><%= submit_tag("Cohort Stats") %></button>
<% end %><br/>

<%= form_tag(method: 'get') do %>
  <input name="cohort_intersection" type="hidden" value="true" />
  <%= label_tag(:cohort_1, "cohort 1") %>
  <%= collection_select(:cohort_1, :id, Cohort.all, :id, :title, prompt: true) %><br/>
  <%= label_tag(:cohort_2, "cohort 2") %>
  <%= collection_select(:cohort_2, :id, Cohort.all, :id, :title, prompt: true) %><br/>
  <button class="button dark"><%= submit_tag("Cohort Intersection") %></button>
<% end %><br/>

</h3>


<h3>
<% if params[:monthly_report] %>
  <%= render :partial => 'monthly_report', :locals => { :monthly_report => @monthly_report } %>
<% end %>

<% if params[:cohort_stats] %>
  <%= render :partial => 'cohort_stats', :locals => { :cohort_stats => @cohort_stats } %>
<% end %>

<% if params[:cohort_intersection] %>
  <%= render :partial => 'cohort_stats', :locals => { :cohort_stats => @cohort_stats } %>
<% end %>
</h3>

</div>
</section>
</div>
