- content_for :after_title, ' - Usage Stats'
= hot_javascript_tag("charts")
= javascript_include_tag("usage")

%header.main-page
  .container
    %h1 Usage Stats

.container
  %section.module
    .section-header
      %h2 Overview Statistics
    = render 'overview_stats'

  %section.module
    .section-header
      %h2 Courses / Programs Over Time
    = render 'courses_over_time'

  %section.module
    .section-header
      %h2 Yearly Statistics
      %p.subtitle (by program creation date)
    = render 'yearly_stats'

  %section.module
    .section-header
      %h2 Wiki Activity Overview
    = render 'wiki_activity_stats'

  %section.module
    .section-header
      %h2 Wiki List
      %p.subtitle= "#{@wiki_data[:summary][:total_wikis]} wikis with #{@wiki_data[:summary][:total_courses]} courses total"
    = render 'wiki_list'

  %section.module
    .section-header
      %a.button.dark#csv-btn{href: '/all_courses_csv'} Generate CSV of all programs
