<%= form_for([@question_group, @answer_group_builder], :html => {'data-survey-form' => true}) do |f| %>

  <div>
    <%- @answer_group_builder.answers.each_with_index do |answer, index| %>
    <% is_start_of_group = start_of_group(answers:@answer_group_builder.answers, index: index) %>
    <% is_last_of_group = is_grouped_question(answer) && index + 1 == @answer_group_builder.answers.length %>
    <% if is_start_of_group %>
    <div class="block not-seen disabled survey__question--matrix <%= question_type(answer) %>" data-survey-block='<%= index + 1 %>'>
      <% end %>
      <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      <%= render partial: "rapidfire/answers/matrix_question_text", locals: {f: f, answer: answer} %>
      <% if !is_grouped_question(answer) %>
      <div class='block disabled not-seen question-type--<%= question_type(answer) %> <% if answer.errors.any? %>block--errors<% end %> <% if answer.question.validation_rules[:presence].to_i == 1 %>required<% end %> <% if has_follow_up_question(answer) %>has-follow-up<% end %> <% if answer.question.conditionals? %>hidden<% end %>' data-survey-block='<%= index + 1 %>' <% if answer.question.conditionals? %>data-conditional-question="<%= answer.question.conditionals %>"<% end %> >
        <% end %>
        <div id="<%= answer.question.id %>" class='survey__question-row <%= is_start_of_group ? "first" : "" %> <%= is_last_of_group ? "last" : "" %>'><%= render_answer_form_helper(answer, answer_form) %></div>
        <div data-errors></div>
        <% if !is_grouped_question(answer) || is_last_of_group  || is_grouped_question(answer) && !is_grouped_question(@answer_group_builder.answers[index + 1]) %>
        <% if has_follow_up_question(answer) %>
        <%= render partial: "rapidfire/answers/follow_up_question", locals: {f: answer_form, answer: answer} %>
        <% end %>
        <div class='survey__block-nav'>
          <button class='button survey__next dark' data-next-survey-block>Next <span class='icon icon-rt_arrow'></span></button>
        </div>
        <% end %>
        <% if !is_grouped_question(answer) %>
      </div>
      <% end %>
      <% end %>
      
    <% if is_grouped_question(answer) && index + 1 == @answer_group_builder.answers.length || is_grouped_question(answer) && !is_grouped_question(@answer_group_builder.answers[index + 1]) %></div><% end %>
    
    <% end %>
  </div>
  
  <div class='block block--text disabled not-seen block--clear' data-survey-block='<%= @answer_group_builder.answers.length + 1 %>'>
    <div class='survey__block-nav submit'>
      <%= f.submit "Submit Survey", :class => 'button button--no-margin dark' %>
    </div>
  </div>

  <% end %>