
<% if can_administer? %>
  <div class='survey__admin-tools'>
    <%= link_to "Edit this Survey", question_group_questions_path(@question_group) %>
  </div>
<% end %>


<div class='container'>
<% if @question_group.intro_slide %>
<div class='block disabled not-seen' data-survey-block='0'>
  <h1 class='survey__title'><%= @question_group.name %></h1>
  <%= @question_group.intro_slide.html_safe %>
  <div class='survey__block-nav'>
    <div></div>
    <button class='button survey__start dark' data-next-survey-block><span>Start</span> <span class='icon icon-rt_arrow'></span></button>
  </div>
</div>
<% end %>

<%= form_for([@question_group, @answer_group_builder], :html => {'data-survey-form' => true}) do |f| %>
  <div>
  <%- @answer_group_builder.answers.each_with_index do |answer, index| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      
      <div class='block disabled not-seen question-type--<%= question_type(answer) %> <% if answer.errors.any? %>block--errors<% end %> <% if answer.question.validation_rules[:presence].to_i == 1 %>required<% end %>' data-survey-block='<%= index + 1 %>'>
        <%= render_answer_form_helper(answer, answer_form) %>
        <div data-errors></div>
        <div class='survey__block-nav'>
          <button class='button' data-prev-survey-block>Prev</button>
          <button class='button dark' data-next-survey-block>Next</button>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  
  
  <div class='block disabled not-seen block--clear' data-survey-block='<%= @answer_group_builder.answers.length + 1 %>'>
    <% if @question_group.intro_slide %><%= @question_group.final_slide.html_safe %><% end %>
    <%= f.submit "Submit Survey", :class => 'button button--no-margin dark' %>
  </div>
  
  
  
<% end %>

</div>
</div>

<div class='survey__footer'>
  <div class='container'>
    <div class='survey__progress'><div class='survey__progress-bar' data-survey-progress></div></div>
  </div>
</div>
