<div class='container'>
<div class='block disabled' data-survey-block>
  <h1><%= @question_group.name %></h1>
  <%= @question_group.intro_slide %>
  <%= render partial: "question_block_nav" %>
</div>

<%= form_for([@question_group, @answer_group_builder]) do |f| %>
  <div>
  <%- @answer_group_builder.answers.each_with_index do |answer, index| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      <div class='block disabled question-type--<%= question_type(answer) %>' data-survey-block>
        <%= render_answer_form_helper(answer, answer_form) %>
        <%= render partial: "question_block_nav" %>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class='block disabled survey__submit-block' data-survey-block>
    <%= f.submit "Submit Survey", :class => 'button button--no-margin dark' %>
  </div>
  <div class='block disabled' data-survey-block>
    <%= @question_group.final_slide %>
  </div>
  
<% end %>

</div>
</div>

<div class='survey__footer'>
  <div class='container'>
    <div class='survey__progress'><div class='survey__progress-bar' data-survey-progress></div></div>
  </div>
</div>
