%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph
  Please investigate:
  %a.link{ href: @alert.url }= @alert.main_subject

- if @alert.user_contributions_url
  %p.paragraph
    %a.link{href: @alert.user_contributions_url}= "#{@alert.user.username} contributions"

- if @alert.message
  %p.paragraph.preserve-whitespace
    = "Message regarding #{@alert.user.username}:"
    = @alert.message

  %p.paragraph
    User email:
    = @alert.user.email

  %p.paragraph
    User real name:
    = @alert.user.real_name

- if @alert.article
  %p.paragraph
    Article:
    %a.link{href: @alert.article.url}= @alert.article.title

- if @alert.revision
  %p.paragraph
    %a.link{href: @alert.revision.url} diff

- if @alert.details
  %p.paragraph.preserve-whitespace
    Alert details:
    = @alert.details
