<div class='block survey__slide-form'>
<%= form_for @question_group do |f| %>
  <%- if @question_group.errors.any? %>
    <ul>
      <%- @question_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div><%= f.label :final_slide, "Survey Final Slide" %></div>
  <div><%= f.text_area :final_slide %><br/>
  <%= f.submit 'Save Final Slide', :class => 'button button--no-margin'%></div>
<% end %>
</div>