<div class='container container--pad-y block survey__form default-form'>
<%= form_for form, as: :question, url: url, method: method do |f| %>
  <%- unless form.errors.empty? %>
    <ul class='form__errors'>
      <%- form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :type %>
  <div class='custom-select'>
  <%= f.select :type, ::Rapidfire::QuestionForm::SURVEY_QUESTION_TYPES, {}, id: "question_type", :class => "default-form-input" %>
  </div>

  <div class='survey__question__option-row'>
    <%= f.label :answer_presence, "Question is Required" %>
    <%= f.check_box :answer_presence, :checked => true %>
  </div>

  <br/>
  <%= f.label :question_text %>
  <br/>
  <div>

  <%= f.text_area :question_text, data: { question_text: true }, id: 'question_text' %>
  <div data-question-text-editor></div>
  <br/>
  <div data-question-options>

  <div class="hidden" data-question-type-options="RangeInput">
  <h4>Range Input Options</h4>
  <hr/>

  <div class="survey__question__option-row">
    <%= f.label :answer_range_minimum %>
    <%= f.number_field :answer_range_minimum %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_range_maximum %>
    <%= f.number_field :answer_range_maximum %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_range_increment %>
    <%= f.number_field :answer_range_increment %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_range_divisions %>
    <%= f.number_field :answer_range_divisions %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_range_format %>
    <%= f.text_field :answer_range_format %>
  </div>

  </div>

  <div data-answer-options data-question-type-options-hide-if="course_data,RangeInput" data-question-type-options="Select,Radio,Checkbox" class="<%= (has_course_data(@question_form) ? 'hidden' : '') %>">
    <%= f.label :answer_options %>&nbsp;(Separate options with new line)<br/>
    <%= f.text_area :answer_options, rows: 5 %>
  </div>

  <div id='multi-select-option' data-question-type-options="Select">
    <%= f.label :multiple, "Allow Multi Select?" %>
    <%= f.check_box :multiple %>
  </div>

  <div data-question-type-options="Radio,Checkbox,Select">
    <label>
    <input type='checkbox' <%= has_course_data(@question_form) ? "checked" : "" %> data-course-data-populate-checkbox />
    Populate Answer Options with Course Data
    </label>
  </div>

  <div data-question-type-field="course_data" class="<%= has_course_data(@question_form) ? '' : 'hidden' %>">
  <div class="survey__question__option-row">
    <%= f.select :course_data_type, ::Rapidfire::QuestionForm::COURSE_DATA_ANSWER_TYPES, :data => {:chosen_select => true}, :prompt => "Select type of course data" %>
  </div>
  <div class="survey__question__option-row" data-question-type-options="Select">
    <%= f.label :placeholder_text, "Placeholder text for dropdown input" %><br/>
    <%= f.text_area :placeholder_text, rows: 1 %>
  </div>
  </div>

  <div>
    <label>
    <input type='checkbox' <%= question_form_has_follow_up_question(@question_form) ? "checked" : "" %> data-follow-up-question-checkbox />
    Add follow up question
    </label>
  </div>

  <div class="<%= question_form_has_follow_up_question(@question_form) ? '' : 'hidden' %>" data-question-type-field="follow_up_question">
    <h4>Follow Up Question</h4>
    <div class="survey__question__option-row">
    <%= f.label :follow_up_question_text %>
    <%= f.text_area :follow_up_question_text %>
    </div>
  </div>


  <div data-question-type-options="Radio,RangeInput">

    <div class="survey__question__option-row">
      <label>
        <%= f.check_box :answer_grouped, :data => {:matrix_checkbox => true} %>
        Group this question as a matrix
      </label>
      <div class="<%= @question_form.answer_grouped == '1' ? '' : 'hidden' %>" data-question-type-field="matrix">
        <%= f.label :answer_qrouped, "Grouped question", :data => {:matrix_checkbox => true}  %>
        <%= f.text_area :answer_grouped_question %>
      </div>
    </div>
  </div>

  <div data-question-type-options="Numeric">
  <h4>Other options</h4>
  <hr/>

  <div class="survey__question__option-row">
    <%= f.label :answer_minimum_length %>
    <%= f.number_field :answer_minimum_length %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_maximum_length %>
    <%= f.number_field :answer_maximum_length %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_greater_than_or_equal_to %>
    <%= f.number_field :answer_greater_than_or_equal_to %>
  </div>

  <div class="survey__question__option-row">
    <%= f.label :answer_less_than_or_equal_to %>
    <%= f.number_field :answer_less_than_or_equal_to %>
  </div>
  </div>

  <% if @question_group.questions.length > 1 %>
  <div>
    <label>
    <input type='checkbox' <%= @question_form.conditionals ? "checked" : "" %> data-conditional-option-checkbox />
    Conditionally show this question
    </label>
  </div>

  <div class="<%= @question_form.conditionals.nil? ? 'hidden' : '' %>" data-conditional-options>
    <h4>Conditional</h4>
    <p>Question will only display if conditional returns true</p>
    <div class="survey__question__option-row">
      <div class='survey__question__conditional-row' data-conditional="<%= question_conditional_string(@question) %>">
        Show if
        <%= select_tag "",
            options_from_collection_for_select(@question_group.questions.for_conditionals, "id", "question_text"),
            :include_blank => "Select a question",
            :data => {:conditional_select => true}%>
        <span data-conditional-operator></span>
        <select class='hidden' data-conditional-operator-select></select>
        <select class='hidden' data-conditional-value-select></select>
        <input class='hidden' data-conditional-value-number type='number' />
        <button class='hidden' data-clear-conditional>Reset</button>
        <%= f.hidden_field :conditionals, :data => {:conditional_field_input => true} %>
      </div>
    </div>
  </div>
  <% end %>

  </div>
  <%= f.submit submit_text, :class => 'button button--no-margin' %>
<% end %>
</div>
