<div class='container container--pad-y block survey__form'>
<%= form_for form, as: :question, url: url, method: method do |f| %>
  <%- unless form.errors.empty? %>
    <ul class='form__errors'>
      <%- form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :type %>
  <div class='custom-select'>
  <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type", :class => "default-form-input" %>
  </div>
  <br/>
  <%= f.label :question_text %>
  <br/>
  <div><%= f.text_area :question_text %>
  
  
  <br/>

  <%= f.label :answer_options %>&nbsp;(Separate options with new line)<br/>
  <%= f.text_area :answer_options, rows: 5 %>

  <br/>
  <%= f.label :answer_presence, "Question is Required" %>
  <%= f.check_box :answer_presence %>

  <h4>Other options</h4>
  <hr/>
  
  <%= f.label :answer_minimum_length %>
  <%= f.text_field :answer_minimum_length %>

  <br/>
  <%= f.label :answer_maximum_length %>
  <%= f.text_field :answer_maximum_length %>

  <br/>
  <%= f.label :answer_greater_than_or_equal_to %>
  <%= f.text_field :answer_greater_than_or_equal_to %>

  <br/>
  <%= f.label :answer_less_than_or_equal_to %>
  <%= f.text_field :answer_less_than_or_equal_to %>
  <br/>
  <%= f.submit submit_text, :class => 'button button--no-margin' %>
<% end %>
</div>