<div class='block survey__slide-form'>
<%= form_for @question_group do |f| %>
  <%- if @question_group.errors.any? %>
    <ul>
      <%- @question_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div><%= f.label :intro_slide, "Survey Introduction" %></div>
  <div>
  <div><%= f.hidden_field :intro_slide , id: 'intro_slide', value: @question_group.intro_slide %>
  <trix-editor input="intro_slide"></trix-editor>
  <%= f.submit 'Save Intro', :class => 'button button--no-margin'%></div>
<% end %>
</div>