<li class='row course-list__row row--survey-question' data-item-id="<%= question.id %>">
  <div class='row__wrapper'>
    <div>
      <div><strong><%= question.question_text %></strong><br/></div>
      <div><%= question.type.to_s.split("::").last.downcase %></div>
    </div>

    <div>
      <%= link_to "Edit", [:edit, question.question_group, question] %>
      <%= link_to "Delete", [question.question_group, question], method: :delete %>
    </div>
  </div>
</li>
