<li class='row course-list__row row--survey-question' data-item-id="<%= question.id %>"><!-- Current Position: <%= question.position %> -->
  <div class='row__wrapper'>
    <div>
    <strong><%= strip_tags(question.question_text.truncate(100, omission: '...')) %></strong></div>
    <div>
      <%= question.type.to_s.split("::").last.downcase %>&nbsp;<%= question.validation_rules[:grouped].to_i == 1 ? "matrix" : "" %>&nbsp;
      <%= question.conditionals? ? 'conditional' : '' %>&nbsp;
      <%= link_to "Clone", "/surveys/question/clone/#{question.id}", method: :post %>
      <%= link_to "Edit", [:edit, question.question_group, question] %>
      <%= link_to "Delete", [question.question_group, question], method: :delete, :data => {confirm: "Are you sure you want to delete this question?"}  %>
    </div>
  </div>
</li>
