<li class='row course-list__row row--survey-question' data-item-id="<%= question.id %>">
  <div class='row__wrapper'>
    <div><strong><%= strip_tags(question.question_text.truncate(100, omission: '...')) %></strong></div>

    <div>
      <%= question.type.to_s.split("::").last.downcase %>&nbsp;
      <%= link_to "Edit", [:edit, question.question_group, question] %>
      <%= link_to "Delete", [question.question_group, question], method: :delete %>
    </div>
  </div>
</li>
