.container
  %h2 Private Information
  %p This site retains the following private information:
  %ul
    %li Wikimedia usernames
    %li
      For logged in users:
      = link_to 'OAuth', 'https://www.mediawiki.org/wiki/Help:OAuth'
      credentials that allow partial access to to your Wikimedia account, including making edits on your behalf
    - if Features.wiki_ed?
      %li Full names of instructors, which are publicly associated with their courses
      %li Email addresses of instructors, which are used for course-related information, surveys, and related communication
      %li Full names of learners, which are shown only to their instructors and to Wiki Education staff
      %li Email addresses of learners, which are used sparingly for course-related information and related communication
      %li In error logs to help us diagnose problems: the username, IP address, and browser for each error
    - else
      %li The email address and requested username for Requested Accounts; the email address is used to create a Wikimedia account, and removed from this site upon creation.

  %p
    If you wish, you can remove information about yourself (aside from your wiki edit history) by doing the following:
    %ul
      %li Leave any courses you are participating in.
      %li
        Use the
        = link_to 'onboarding form', '/onboarding'
        to replace your name and email, if present.
      %li Edit your user profile page to remove any private information you added there.

  - if Features.wiki_ed?
    %p
      For additional details, see our
      = link_to 'Terms of Service', 'https://wikiedu.org/terms-of-service'
      and
      = link_to 'Privacy Policy.', 'https://wikiedu.org/privacy-policy'
  - else
    %p
      Data use and retention is governed by the
      = link_to 'Wikimedia Cloud Services Terms of use.', 'https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use', target: '_blank'
