<li class="row article-list__row">
  <%= link_to ac.article.url, :target => "_blank" do %>
  <div class="row__wrapper">
    <div class="article-list__row__rating desktop-only-flex">
      <p class="rating_num hidden"><%= rating_priority(ac.article.rating) %></p>
      <div class="rating <%= ac.article.rating %>"><p><%= ac.article.rating || '?' %></p></div>
    </div>
    <div class="article-list__row__title">
      <div class="rating <%= ac.article.rating %> tablet-only-flex"><p><%= ac.article.rating || '?' %></p></div>
      <p class="title"><%= ac.article.title + (ac.new_article ? " (new)" : "") %></p>
    </div>
    <div class="article-list__row__characters">
      <p class="characters">
        <span class="tablet-only-flex"><%= t("metrics.char") %>: </span>
        <%= ac.character_sum || ac.article.character_sum %>
      </p>
    </div>
    <div class="article-list__row__views">
      <p class="views">
        <span class="tablet-only-flex"><%= t("metrics.view") %>: </span>
        <%= ac.view_count || ac.article.views || 0 %>
      </p>
    </div>
    <div class="article-list__row__link desktop-only-flex">
      <p class="fake-link"><%= t("article.view") %></p>
    </div>
    <div class="row__fake__link tablet-only"><p class="icon icon-arrow"></p></div>
  </div>
  <% end %>
</li>
