<li class="row article-list__row">
  <div class="article-list__row__title">
    <p class="title"><%= article.title %></p>
  </div>
  <div class="article-list__row__characters">
    <p class="characters" title="<%= t("article.character") %>">
      <%= article.articles_courses.where(course_id: @course.id).first.character_sum || article.character_sum %>
    </p>
  </div>
  <div class="article-list__row__views">
    <p class="views" title="<%= t("article.view") %>">
      <%= article.articles_courses.where(course_id: @course.id).first.view_count || article.views || 0 %>
    </p>
  </div>
  <div class="article-list__row__link">
    <%= link_to 'View Article', article.url, :target => "_blank", :class => "button" %>
  </div>
</li>