<li class="row article-list__row">
  <%= link_to ac.article.url, :target => "_blank" do %>
  <div class="row__wrapper">
    <div class="article-list__row__title">
      <p class="title"><%= ac.article.title + (ac.new_article ? " (new)" : "") %></p>
    </div>
    <div class="article-list__row__characters">
      <p class="characters">
        <span class="tablet-only-flex"><%= t("metrics.char") %>: </span>
        <%= ac.character_sum || ac.article.character_sum %>
      </p>
    </div>
    <div class="article-list__row__views">
      <p class="views">
        <span class="tablet-only-flex"><%= t("metrics.view") %>: </span>
        <%= ac.view_count || ac.article.views || 0 %>
      </p>
    </div>
    <div class="article-list__row__link desktop-only-flex">
      <p class="fake-link"><%= t("article.view") %></p>
    </div>
  </div>
  <% end %>
</li>
