<div class="training__section-overview container">
  <section class="training__header">
    <h1>
      Wikipedia <%= @library.slug.humanize.titleize.singularize %> Training
    </h1>
    <p><%= @library.introduction %>
  </section>
  <ul class="training__categories">
    <%- @library.categories.each do |lib_category| %>
      <li>
        <div class="training__category__header">
          <h1 class="h3 capitalize"><%= lib_category.title %></h1>
          <p><%= lib_category.description %></p>
        </div>
        <ul class="training__categories__modules">
          <%- lib_category.modules.each do |lib_module| %>
            <li>
              <a class="action-card" href=<%= "#{@library.slug}/#{lib_module.slug}" %>>
                <header class="action-card-header">
                  <h3 class="action-card-title"><%= lib_module.name %></h3>
                  <span class="action-card-icon arrow-icon"></span>
                </header>
                <p class="action-card-text"><%= lib_module.description %></p>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
