<div class="training__section-overview container">
  <ol class='breadcrumbs'><%= render_breadcrumbs tag: :li, separator: ' > ' %></ol>

  <section class="training__header">
    <h2>
      Wikipedia Training for <%= @library.slug.humanize.titleize %>
    </h2>
    <p><%= @library.introduction %>
  </section>
  <ul class="training__categories">
    <%- @library.categories.each do |lib_category| %>
      <li>
        <div class="training__category__header">
          <h2><%= lib_category.title %></h2>
          <p><%= lib_category.description %></p>
        </div>
        <ul class="training__categories__modules">
          <%- lib_category.modules.each do |lib_module| %>
            <li>
              <a href=<%= "#{@library.slug}/#{lib_module.slug}" %>>
                <header>
                  <h3><%= lib_module.name %></h3>
                  <span class="icon">
                    <img src="http://i.imgsafe.org/bfd7bcf.png" />
                  </span>
                </header>
                <p><%= lib_module.description %></p>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
