<div class="drawer" rel="<%= user_revisions_path(user_id: user.id, course_id: @course.id, limit: 3) %>">
  <div class="row revision-list__row list__header revision-list__sort">
    <div class="row__wrapper">
      <div class="revision-list__row__title">
        <h6><%= t("user.contributions") %></h6>
      </div>
      <div class="revision-list__row__date">
        <p class="date"><%= t("metrics.date_time") %></p>
      </div>
      <div class="revision-list__row__characters">
        <p class="characters"><%= t("metrics.char") %></p>
      </div>
      <div class="revision-list__row__views">
        <p class="views"><%= t("metrics.view") %></p>
      </div>
      <div class="revision-list__row__link"></div>
    </div>
  </div>
  <ul class="list">
  </ul>
  <div class="row view-all">
    <div><p><%= link_to t("user.contributions_more"), user_revisions_path(user_id: user.id, course_id: @course.id, drop: 3), {:class => "inline"} %></p></div>
  </div>
</div>
