<li class="row user-list__row">
  <div class="row__wrapper drawer_trigger <%= cu.revision_count < 1 ? "disabled" : "" %>">
    <div class="user-list__row__name">
      <div class="avatar"><%= image_tag "/images/user.svg" %></div>
      <p class="name"><%= contribution_link(cu.user, nil, 'inline') %><br><small class="red"><%= cu.user.trained ? '' : 'Training Incomplete' %></small></p>
    </div>
    <div class="user-list__row__characters-ms">
      <p class="characters-ms">
        <%= cu.character_sum_ms %>
      </p>
    </div>
    <div class="user-list__row__characters-us">
      <p class="characters-us">
        <%= cu.character_sum_us %>
      </p>
    </div>
    <div class="user-list__row__edits">
      <% @assignment = cu.user.assignments.first %>
      <% if @assignment.nil? %>
        <p class='edits red'>No Assigned Article</p>
      <% else %>
        <% if @assignment.article.nil? %>
        <p class='edits'><i><%= @assignment.article_title %></i></p>
        <% else %>
        <p class='edits'><%= link_to @assignment.article.title, @assignment.article.url, :target => "_blank", :class => "inline" %></p>
        <% end %>
      <% end %>
    </div>
    <div class="user-list__row__link">
      <div class="drawer_trigger__icon <%= cu.revision_count < 1 ? "disabled" : "" %>"><p class="icon icon-arrow"></p></div>
    </div>
  </div>
  <%= render :partial => 'users/detail', :locals => {:user => cu.user} %>
</li>