<li class="row user-list__row">
  <div class="row__wrapper">
    <div class="user-list__row__name">
      <div class="avatar"></div>
      <p class="name"><%= contribution_link(user, nil, 'inline') %><br><small class="red"><%= user.trained ? '' : 'Training Incomplete' %></small></p>
    </div>
    <div class="user-list__row__characters-ms">
      <p class="characters-ms" title="<%= t("user.character") %>">
        <%= @course.courses_users.find_by(user_id: user.id).character_sum_ms %>
      </p>
    </div>
    <div class="user-list__row__characters-us">
      <p class="characters-us" title="<%= t("user.character") %>">
        <%= @course.courses_users.find_by(user_id: user.id).character_sum_us %>
      </p>
    </div>
    <div class="user-list__row__edits">
      <% @assignment = user.assignments.where(course_id: @course.id).first %>
      <% if @assignment.nil? %>
        <p class='edits red'>No Assigned Article</p>
      <% else %>
        <% if @assignment.article.nil? %>
        <p class='edits'><i><%= @assignment.article_title %></i></p>
        <% else %>
        <p class='edits'><%= link_to @assignment.article.title, @assignment.article.url, :target => "_blank", :class => "inline" %></p>
        <% end %>
      <% end %>
    </div>
    <div class="user-list__row__link">
      <div class="drawer_trigger <%= @courses_users.find_by(user_id: user.id).revision_count < 1 ? "disabled" : "" %>"><p class="icon icon-downward-arrow"></p></div>
    </div>
  </div>
  <%= render :partial => 'users/detail', :locals => {:user => user} %>
</li>