<li class="row user-list__row">
  <div class="user-list__row__name">
<!--     <div class="avatar"></div> -->
    <p class="name"><%= user.wiki_id %></p>
  </div>
  <div class="user-list__row__training">
    <p class="training" title="<%= User.training_def %>">
      <%= user.trained ? 'Yes' : 'No' %>
    </p>
  </div>
  <div class="user-list__row__characters">
    <p class="characters" title="<%= User.character_def %>">
      <%= user.courses_users.where(course_id: @course.id).first.character_sum || user.character_sum %>
    </p>
  </div>
  <div class="user-list__row__link">
    <%= contribution_link(user, 'View Edits', 'button') %>
  </div>
</li>