<li class="row user-list__row">
  <div class="row__wrapper">
    <div class="user-list__row__name">
      <div class="avatar"></div>
      <p class="name"><%= contribution_link(user, nil, 'inline') %></p>
    </div>
    <div class="user-list__row__training">
      <p class="training" title="<%= t("user.training") %>">
        <%= user.trained ? 'Yes' : 'No' %>
      </p>
    </div>
    <div class="user-list__row__characters-ms">
      <p class="characters-ms" title="<%= t("user.character") %>">
        <%= user.revisions.joins(:article).where(articles: {namespace: 0}).sum(:characters) %>
      </p>
    </div>
    <div class="user-list__row__characters-us">
      <p class="characters-us" title="<%= t("user.character") %>">
        <%= user.revisions.joins(:article).where(articles: {namespace: 2}).sum(:characters) %>
      </p>
    </div>
    <div class="user-list__row__spacer"></div>
    <div class="user-list__row__edits">
      <p class="edits">
        <%= user.revisions.count %>
      </p>
    </div>
    <div class="user-list__row__link">
      <div class="drawer_trigger <%= user.revisions.count < 1 ? "disabled" : "" %>"><p class="icon icon-downward-arrow"></p></div>
    </div>
  </div>
  <%= render :partial => 'users/detail', :locals => {:user => user} %>
</li>