
<br>
<br>
<div class='container'>
  <h2>Course Details For <%= @user.username %></h2>
  <% @courses_user.each do |c| %>
    <a class='course' href='/courses/<%=c.course.slug%>'>
      <span class='button border'>
        View Course Page
      </span>    
      <div class='course-title'>
          <%= c.course.title%>
      </div>
      <div class='course-details'>
        <div class='col'>
          <div class='course-details_title'>
            School
          </div>
          <div class='course-details_value'>
            <%= c.course.school%>
          </div>
        </div>
        <div class='col'>
          <div class='course-details_title'>
            Term
          </div>
          <div class='course-details_value'>
            <%= c.course.term%>
          </div>
        </div>
        <div class='col'>
          <div class='course-details_title'>
            #Students
          </div>
          <div class='course-details_value'>
            <%= c.course.user_count%>
          </div>
        </div>
        <div class='col'>
          <div class='course-details_title'>
            Role
          </div>
          <div class='course-details_value'>
            <%= course_role_name(c.role) %>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
