- if @user.course_instructor? || @user.course_student?
  = render 'users/profile_nav'

#profile
  .container
    %h3
      User: #{@user.username}
    - if current_user == @user || current_user&.admin?
      %h5
        &#x2709; #{@user.email}

.container
  #statistics
    - if @user.course_instructor?
      = render 'users/instructor_cumulative_stats', presenter: @courses_presenter
      %hr
    -elsif @user.course_student?
      = render 'users/student_cumulative_stats', presenter: @individual_stats_presenter
      %hr

  #coursedetails
    - if @courses_users.present?
      #display
        %h3
          = t("courses.course_details")
        %br/
        - @courses_users.each do |c|
          %a.course{:href => "/courses/#{c.course.slug}"}
            %span.button.border
              = t("courses.view_page")
            .course-title
              = c.course.title
            .course-details
              .col
                .course-details_title
                  = t("courses.school")
                .course-details_value
                  = c.course.school
              .col
                .course-details_title
                  = t("courses.term")
                .course-details_value
                  = c.course.term
              .col
                .course-details_title
                  = t("courses.students_count")
                .course-details_value
                  = c.course.user_count
              .col
                .course-details_title
                  = t("courses.user_role")
                .course-details_value
                  = course_role_name(c.role)
    -else
      %h4
        #{@user.username}
        = t("courses.nocourse")
