
<br>
<br>
<div class='container'>
  <h2>Course Details for <%= @user.username %></h2>
  <% @course.each do |c| %>
    <a class='course' href='/courses/<%=c.slug%>'>
      <span class='button border'>
        View Course Page
      </span>    
      <div class='course-title'>
          <%= c.title%>
      </div>
      <div class='course-details'>
        <div class='col'>
          <div class='course-details_title'>
            School
          </div>
          <div class='course-details_value'>
            <%= c.school%>
          </div>
        </div>
        <div class='col'>
          <div class='course-details_title'>
            Term
          </div>
          <div class='course-details_value'>
            <%= c.term%>
          </div>
        </div>
        <div class='col'>
          <div class='course-details_title'>
            #Students
          </div>
          <div class='course-details_value'>
            <%= c.user_count%>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
