.sg-nav= render partial: "nav"
.sg-content
  %h3.sg-section-title#typography Typography
  .sg-section= render partial: "typography"

  %h3.sg-section-title#buttons Buttons
  .sg-section= render partial: "buttons"

  %h3.sg-section-title#formcontrols Form Controls
  .sg-section= render partial: "form_controls"

  %h3.sg-section-title#forms Forms
  .sg-section= render partial: "forms"

  %h3.sg-section-title#popovers Popovers
  .sg-section= render partial: "popovers"

  %h3.sg-section-title#progressandloading Progress and loading
  .sg-section= render partial: "progress_and_loading"

  %h3.sg-section-title#tables Tables
  .sg-section= render partial: "tables"

  %h3.sg-section-title#tabs Tabs
  .sg-section= render partial: "tabs"

  %h3.sg-section-title#tooltips Tooltips
  .sg-section= render partial: "tooltips"

  %h3.sg-section-title#alerts Alerts
  .sg-section= render partial: "alerts"

  %h3.sg-section-title#stats Stats
  .sg-section= render partial: "stats"

  %h3.sg-section-title#cards Cards
  .sg-section= render partial: "cards"

  %h3.sg-section-title#icons Icons
  .sg-section= render partial: "icons"

  %h3.sg-section-title#breadcrumbs Breadcrumbs
  .sg-section= render partial: "breadcrumbs"
