%footer.footer
  .container
    = 'This site is a project of'
    = link_to 'Wiki Education', 'https://wikiedu.org', target: '_blank'
    = "running on Wikimedia Cloud Services, and is subject to the"
    = link_to 'Cloud Services Terms of use', 'https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use', target: '_blank'
    = '. It makes limited use of'
    = link_to 'Private Information', '/private_information'
    = '. All content is'
    = link_to 'CC-BY-SA', 'https://creativecommons.org/licenses/by-sa/4.0/', target: '_blank'
    = '.'
