%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
- before = content_for?(:before_title) ? yield(:before_title) : ''
- after = content_for?(:after_title) ? yield(:after_title) : ''
%title= raw "#{before}#{ENV['dashboard_title']}#{after}"
= logo_favicon_tag
%meta{content: ENV['meta_description'] || 'Wiki Dashboard', name: "description"}
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', media: 'all'

= content_for :head

= javascript_include_tag '/assets/javascripts/i18n'
= javascript_include_tag '/assets/javascripts/i18n/' + I18n.locale.to_s
#wikis{:'data-projects' => Wiki::PROJECTS.to_json, :'data-languages' => Wiki::LANGUAGES.to_json}
:javascript
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";

  currentUser = {
    id: "#{current_user&.id || ''}",
    username: "#{current_user&.username || ''}"
  }

  Features = {
    wikiEd: #{Features.wiki_ed?},
    enableChat: #{Features.enable_chat? && user_signed_in?},
    enableGetHelpButton: #{Features.enable_get_help_button? && user_signed_in?}
  }

  WikiProjects = document.getElementById("wikis").dataset.projects
  WikiLanguages = document.getElementById("wikis").dataset.languages

  SentryDsn = "#{ENV['sentry_public_dsn']}"
  SalesforceServer = "#{ENV['SF_SERVER']}"

- unless ENV['DISABLE_SENTRY']
  = hot_javascript_tag("raven")
  // Sentry logging
  %script
    Raven.config(SentryDsn).install();
    Raven.setExtraContext(currentUser);

= javascript_include_tag '/assets/javascripts/vendor.js'
= content_for :javascripts
= csrf_meta_tags
