%aside{:class => [local_assigns.fetch(:fluid, false) ? 'fluid' : nil]}
  .container
    .logo
      %a.logo__link{:href => "/"}= logo_tag
    .home
      = link_to t('application.explore'), '/explore'
      - if user_signed_in?
        = link_to t('application.my_dashboard'), root_url
      - if current_user && current_user.admin?
        = link_to t('application.recent_activity'), '/recent-activity'
      = link_to t('application.training'), :training
      = link_to t('application.help'), '/ask', target: '_blank'
    - if user_signed_in?
      .search
        %i.icon.icon-search
        = form_tag("/ask", method: "get", target: '_blank') do
          = text_field_tag(:q, '', placeholder: t('application.search'))
    .login
      - if user_signed_in?
        %b>= link_to current_user.wiki_id, :root
        = link_to t('application.log_out'), :destroy_user_session
      - else
        = link_to user_omniauth_authorize_path(:mediawiki_signup) do
          %i.icon.icon-wiki-logo
          = t('application.sign_up')
          %span.expand= t('application.sign_up_log_in_extended')
        = link_to user_omniauth_authorize_path(:mediawiki) do
          %i.icon.icon-wiki-logo
          = t('application.log_in')
          %span.expand= t('application.sign_up_log_in_extended')
