%footer.footer
  .container
    = 'This site is a project of'
    = link_to 'Wiki Education', 'https://wikiedu.org'
    = "and subject to Wiki Education's"
    = link_to 'Terms of Service', 'https://wikiedu.org/terms-of-service'
    = 'and'
    = link_to 'Privacy Policy', 'https://wikiedu.org/privacy-policy'
    = '. All content is'
    = link_to 'CC-BY-SA', 'https://creativecommons.org/licenses/by-sa/3.0/'
    = '.'
