%footer
  .container
    = 'This site is a project of the'
    = link_to 'Wiki Education Foundation', 'https://wikiedu.org'
    = "and subject to Wiki Ed's"
    = link_to 'Terms of Service', 'https://wikiedu.org/terms-of-service'
    = 'and'
    = link_to 'Privacy Policy', 'https://wikiedu.org/privacy-policy'
    = '. All content is'
    = link_to 'CC-BY-SA', 'http://creativecommons.org/licenses/by-sa/3.0/'
    = '.'
