.container
  %h1 Alerts

  %table.list-basic
    %tr
      %th Date/Time
      %th Type
      %th Course
      %th User
      %th Resolve
    - @alerts.each do |alert|
      %tr
        %td= alert.created_at
        %td= link_to(alert.type, "/alerts_list/#{alert.id}")
        %td= link_to(alert.course.slug, "/courses/#{alert.course.slug}") if alert.course
        %td= link_to(alert.user.username, "/users/#{alert.user.url_encoded_username}") if alert.user
        %td= alert_display(alert)
