.container
  %h1= @alert.type

  %h2 Timestamp
  %p= @alert.created_at

  - if @alert.course
    %h2 Course
    %p= link_to @alert.course.slug, "/courses/#{@alert.course.slug}"

  - if @alert.user
    %h2 User
    %p= link_to @alert.user.username, "/users/#{@alert.user.url_encoded_username}"

  - if @alert.main_subject
    %h2 Subject
    %p= @alert.main_subject

  - if @alert.message
    %h2 message
    %p= @alert.message

  - if @alert.article
    %h2 Article link
    %p= link_to @alert.article.title, @alert.article.url if @alert.article

  = render @alert

  = render 'details'

  -if @alert.resolvable?
    %h2 Resolve Status
    %p= @alert.resolved? ? 'Resolved' : link_to('Resolve', resolve_alert_path(@alert.id), method: :put)
