= form_for(@campaign, url: '/campaigns/requested_accounts', method: 'POST') do
  .form-group
    = label(:requested_account, :name, 'Name' + ':')
    = text_field(:requested_account, :name, required: true)
  .form-group
    = label(:requested_account, :email, 'Email' + ':')
    = text_field(:requested_account, :email, required: true)

  %button.button.button__cancel
    = t('editable.cancel')
  %button.button.dark.button__submit
    = t('campaign.create_my_campaign')
