%section.light
  .container
    %h2.h1 Get ready to contribute to open scholarship and education for all

%section
  .container
    %h2.text-center This Dashboard provides tools that help instructors and students share their knowledge and track their contributions.

    .col
      %h3 Instructors
      %h2 Create and Manage a Wikipedia Assignment
      %ul
        %li Learn to understand Wikipedia
        %li Create and manage your course using templates, and refine the course to meet your needs
        %li Track the progress of your students

    .col
      %h3 Students
      %h2 Stay Informed and Learn How to Edit Wikipedia
      %ul
        %li Learn how you can edit Wikipedia
        %li Stay up-to-date with your Wikipedia assignment
        %li Track your progress as you contribute to Wikipedia

%section.dark.stats-total
  .container
    %h2.h1 Impact since 2010:

    %h3 Wiki Education Courses
    %h4 2,400

    %div
      .col
        %h3 Students
        %h4 50,000

      .col
        %h3 Articles worked on
        %h4 68,000

    %div
      .col
        %h3 Words added
        %h4 47 Million
        %p
          The number of words students have donated to the world. That’s 160,000 pages – the equivalent of 30 volumes of a printed encyclopedia, shared with everyone, for free.

      .col
        %h3 Article views, in a single term
        %h4 438 Million
        %p
          How many people have read the Wikipedia articles these students have edited? In a single term, 438 million. That's six times larger than the population of France.

%section.universities
  .container
    %h2
      Wiki Education staff have supported instructors and students in more than
      %b 500 universities
      across the United States and Canada

    .logos
      = image_tag "/assets/images/university-logo-1.png"
      = image_tag "/assets/images/university-logo-3.png"
      = image_tag "/assets/images/university-logo-5.png"
      = image_tag "/assets/images/university-logo-6.png"
      = image_tag "/assets/images/university-logo-7.png"
