%section.dark.hero
  .container
    %h1= ENV['dashboard_title']

    .button-container
      = link_to user_mediawiki_omniauth_authorize_path, {class: 'button auth'} do
        %i.icon.icon-wiki-logo
        = t('home.log_in')

      = link_to user_mediawiki_signup_omniauth_authorize_path, {class: 'button button-inverse auth signup'} do
        %i.icon.icon-wiki-logo
        = t('home.sign_up')

      %span.help{data: { title: t('home.sign_up_help') } }
        ?

%section
  .container.text-center
    %h2= @presenter.campaign&.title

    // Expire the campaign stats cache every 3 hours
    - cache "#{Date.today}-#{Time.now.hour / 3}-home-stats-#{locale}" do
      = render 'courses/header_stats', presenter: @presenter

    = link_to t('home.explore'), '/explore', {class: 'button button-ghost'}

#impact
  - if Features.wiki_ed?
    = render :partial => "wiki_ed_impact"
