%section.dark.hero
  .container
    %h1= ENV['dashboard_title']

    = link_to user_omniauth_authorize_path(:mediawiki), {class: 'button auth'} do
      %i.icon.icon-wiki-logo
      = t('home.log_in')

    = link_to user_omniauth_authorize_path(:mediawiki_signup), {class: 'button button-ghost button-inverse auth signup'} do
      %i.icon.icon-wiki-logo
      = t('home.sign_up')

    %span.help{data: { title: 'To use the dashboard, you\'ll need to sign in through Wikipiedia and give it permission to access your account. You can log in with an existing Wikipedia account, or create a new one.' } }
      ?

%section
  .container.text-center
    %h2= @presenter.cohort.try(:title)

    = render 'courses/header_stats', presenter: @presenter

    = link_to t('home.explore'), '/explore', {class: 'button button-ghost'}

#impact
  - if ENV['dashboard_title'] == 'Wiki Education Foundation Dashboard'
    = render :partial => "wiki_ed_impact"
