- content_for :after_title, " - #{t(Features.wiki_ed? ? 'application.explore' : 'courses_generic.explore')}"

%header.main-page
  .container
    %h1= t("#{Features.default_course_string_prefix}.unsubmitted")

.container
  %section#courses
    .section-header
      .sort-select
        %select.sorts{:rel => "courses"}
          %option{:rel => "asc", :value => "title"}= t("courses.title")
          %option{:rel => "desc", :value => "instructor"}= t("courses.instructor.one")
          %option{:rel => "desc", :value => "tags"}= t("metrics.tags")
          %option{:rel => "desc", :value => "expected_students"}= t("courses.expected_students")
          %option{:rel => "desc", :value => "creation-date"}= t("courses.creation_date")
    %table.table.table--hoverable.table--sortable
      %thead
        %tr
          %th.sort.sortable.asc{"data-default-order" => "asc", "data-sort" => "title"}
            = t("#{@presenter.course_string_prefix}.courses")
            %span.sortable-indicator
          %th.sort.sortable{"data-default-order" => "asc", "data-sort" => "creation-date"}
            = t("courses.creation_date")
            %span.sortable-indicator
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "instructor", :style => "width: 165px;"}
            .tooltip-trigger
              = t("courses.instructor.one")
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t("courses.instructor_doc", timeframe: RevisionStat::REVISION_TIMEFRAME)
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "expected_students", :style => "width: 200px;"}
            .tooltip-trigger
              = t("metrics.expected_students")
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t("courses.expected_students_doc")
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "tags", :style => "width: 125px;"}
            = t("metrics.tags")
            %span.sortable-indicator
      %tbody.list
        - @presenter.courses_by_recent_edits.each do |c|
          = render 'unsubmitted_courses/row', course: c, admin: false, user: false
