.container
  %h2= t('update_username.header')
  %p= t('update_username.info')
  = form_with url: '/update_username', method: :post do
    = label_tag :username, t('update_username.label')
    = text_field_tag :username
    %button= submit_tag t('update_username.button'), class: 'button dark', id:'update_username'