<% content_for :after_title do " - Add New Block" end %>

<header class="main-page">
  <h1><%= t("application.dashboard") %></h1>
</header>

<section id="courses">
  <div class="section-header">
    <% if flash[:notice] %>
      <div class="alert"><p><%= flash[:notice] %></p></div>
    <% end %>
    <h3>Add New Block for <%= @course.title %></h3>
    <%= form_for :block, url: course_week_blocks_path do |f| %>

      <fieldset>
        <%= f.label 'Block Type' %><br>
        <%= f.radio_button :kind, '0', :checked => true %>
        <%= label :kind_assignment, 'Assignment' %><br>
        <%= f.radio_button :kind, '1' %>
        <%= label :kind_milestone, 'Milestone' %><br>
        <%= f.radio_button :kind, '2' %>
        <%= label :kind_class, 'Class' %><br>
        <%= f.radio_button :kind, '3' %>
        <%= label :kind_custom, 'Custom' %><br>
      </fieldset>

      <fieldset>
        <%= f.label 'Weekday' %><br>
        <%= f.radio_button :weekday, '1', :checked => true %>
        <%= label :weekday_monday, 'Monday' %><br>
        <%= f.radio_button :weekday, '2' %>
        <%= label :weekday_tuesday, 'Tuesday' %><br>
        <%= f.radio_button :weekday, '3' %>
        <%= label :weekday_wednesday, 'Wednesday' %><br>
        <%= f.radio_button :weekday, '4' %>
        <%= label :weekday_thursday, 'Thursday' %><br>
        <%= f.radio_button :weekday, '5' %>
        <%= label :weekday_friday, 'Friday' %><br>
        <%= f.radio_button :weekday, '6' %>
        <%= label :weekday_saturday, 'Saturday' %><br>
        <%= f.radio_button :weekday, '0' %>
        <%= label :weekday_sunday, 'Sunday' %><br>
      </fieldset>

      <fieldset>
        <%= f.label 'Gradeable' %><br>
        <%= f.check_box :is_gradeable %>
        <%= f.label :is_gradeable, 'Is this block gradeable?' %>
      </fieldset>

      <fieldset>
        <%= f.label :points %><br>
        <%= f.text_field :points %>
      </fieldset>

      <fieldset>
        <%= f.label :content %>
        <%= f.text_field :content %>
      </fieldset>

      <fieldset>
        <%= f.submit %>
      </fieldset>
    <% end %>
  </div>
</section>