.container
  .profile_container
    = render 'user_profiles/user_form'

    #userprofile_navbar
      - if @user.course_instructor? || @user.course_student?
        = render 'user_profiles/profile_nav'

    #profile_details

      - if @user.course_instructor? || @user.course_student?
        #statistics
          %h3
            = t("users.contribution_statistics")
          %br/
          #inner_statistics
            #react_root{"data-isstudent" =>  @user.course_student? ? '{ "student": true }' : '{ "student": false }' , "data-isinstructor" =>  @user.course_instructor? ? '{ "instructor": true }' : '{ "instructor": false }'}

      #course-details
        - if @courses_users.present?
          %h3
            = t("courses.course_details")
          %br/
          - @courses_users.reverse_each do |c|
            %a.course{:href => "/courses/#{c.course.slug}"}
              %span.button.border
                = t("courses.view_page")
              .course-title
                = c.course.title
              .course-details
                .col
                  .course-details_title
                    = t("courses.school")
                  .course-details_value
                    = c.course.school
                .col
                  .course-details_title
                    = t("courses.term")
                  .course-details_value
                    = c.course.term
                .col
                  .course-details_title
                    = t("courses.students_count")
                  .course-details_value
                    = c.course.user_count
                .col
                  .course-details_title
                    = t("courses.user_role")
                  .course-details_value
                    = course_role_name(c.role)
        -else
          %h4
            #{@user.username}
            = t("courses.nocourse")
