- @questions = @question_group.questions
= simple_form_for(@question_group) do |f|
  = f.error_notification

  = render partial: 'rapidfire/question_groups/admin_header_edit', locals: { f: f }

  .container.survey__admin
    .form__block.form__block--equal-height
      .block.form__settings
        .form__settings__tabs
          .tab
            %h3 Settings
        = f.input :name, label: "Question Group Name", class: 'input--large'
        .form__row
          = f.association :cohorts, label_method: :title, input_html: { data: { chosen_select: true }}
        .form__row
          %label Tags
          = select_tag "question_group[tags]", options_for_select(@available_tags, @question_group_tags), multiple: true, data: { chosen_select: true }
      .form__question-list
        = render 'rapidfire/questions/question_group_list'
        -# .form__actions
        -#   = f.button :submit, class: 'button dark'
