= simple_form_for(@question_group) do |f|
  = f.error_notification
  = f.input :name, label: "QuestionGroup Name", class: 'input--large'
  .form__row
    = f.association :cohorts, label_method: :title, input_html: { data: { chosen_select: true }}
  .form__row
    = select_tag "question_group[tags]", options_for_select(@available_tags, @question_group_tags), multiple: true, data: { chosen_select: true }
  .form__actions
    = f.button :submit, class: 'button'
