<%= render 'admin_header' %>
<div class='container'>
<div class='section-header'>
  <h1>Results for <%= @question_group.name %></h1>
</div>

<% if @question_group_results.length > 0 %>
<%- @question_group_results.each do |result| %>
  <div class='block'>
    <h4><%= result.question.question_text %></h4>

      <%- if result.results.is_a?(Array) %>
        <ol>
          <%- result.results.each do |answer| %>
            <li><%= answer %></li>
          <% end %>
        </ol>
      <% elsif result.results.is_a?(Hash) %>
        <table>
          <thead>
            <tr>
              <th><strong>Option</strong></th>
              <th><strong>Count</strong></th>
              <th><strong>Follow Up Question: <%= result.question.follow_up_question_text %></strong></th>
            </tr>
          </thead>
          <tbody>
            <%- result.results.each_with_index do |opt, index| %>
              <tr>
                <td><strong><%= opt[0] %></strong></td>
                <td><strong><%= opt[1] %></strong></td>
                <td><%= result.follow_up_results[index] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
<% end %>
<% else %>
<div class='block'>no results collected</div>
<% end %>

</div>
