%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph
  Please investigate:
  %a{ href: @alert.url }= @alert.main_subject

- if @alert.course
  %p.paragraph
    = link_to('Course page', @alert.course_url)

- if @alert.user_contributions_url
  %p.paragraph
    = link_to('User contributions', @alert.user_contributions_url)

- if @message
  %p.paragraph
    = "Message from #{@alert.user.username}:"
    = @message

  %p.paragraph
    User email:
    = @alert.user.email

- if @details
  %p.paragraph
    Alert details:
    = @details

- if @recipient.admin? && @resolvable
  You can resolve this alert with the link below.
  = link_to('Resolve', resolve_alert_url(@alert.id), method: :put)
