%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph
  Please investigate:
  %a.link{ href: @alert.url }= @alert.main_subject

- if @alert.course
  %p.paragraph
    %a.link{href: @alert.course_url} Course page

- if @alert.user_contributions_url
  %p.paragraph
    %a.link{href: @alert.user_contributions_url}= "#{@alert.user.username} contributions"

- if @message
  %p.paragraph.preserve-whitespace
    = "Message from #{@alert.user.username}:"
    = @message

  %p.paragraph
    User email:
    = @alert.user.email

  %p.paragraph
    User real name:
    = @alert.user.real_name

- if @alert.article
  %p.paragraph
    Article:
    %a.link{href: @alert.article.url}= @alert.article.title

- if @alert.revision
  %p.paragraph
    %a.link{href: @alert.revision.url} diff

- if @details.present?
  %p.paragraph.preserve-whitespace
    Alert details:
    = @details

- if @recipient.admin? && @resolvable
  %table.row
    %tbody
      %tr
        %p.paragraph
          = @alert.resolve_explanation
          = link_to('Resolve.', resolve_alert_url(@alert.id), method: :put, class: 'link')
