%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph
  Please investigate:
  %a{ href: @alert.url }= @alert.main_subject

- if @message
  %p.paragraph
    = "Message from #{@alert.user.username}:"
    = @message

  %p.paragraph
    User email:
    = @alert.user.email

- if @recipient.admin? && @resolvable
  You can resolve this alert with the link below.
  = link_to('Resolve', resolve_alert_url(@alert.id), method: :put)
