= simple_form_for(@survey_assignment) do |f|
  .block.survey-assignments.block--clear.default-form
    = f.error_notification
    .form__row
      %h4 Survey
      = f.association :survey, as: :radio_buttons

    .form__row
      %h4 Distribution Target
      = f.select(:cohorts, options_from_collection_for_select(Cohort.all, 'id', 'title'), :include_blank => "Select Cohorts", :required => true, :multiple => true,  :data => { :chosen_select => true} 
      / # = select_tag :cohort, options_from_collection_for_select(), :multiple => true, :required => true, :data => {:chosen_select => true, :placeholder => "Select Cohorts"})
      / = f.select_tag :cohorts, Cohort.all.map {|c| [c.title, c.id]}, :data => {:chosen_select => true}
      / = f.association :cohorts, :data => {:chosen_select => true}
      = f.label :courses_user_role
      = user_role_select(f)

    .form__row
      %h4 Notification Schedule
      = f.number_field :send_date_days, value: 7
      = f.label :send_date_days, "Days", class: 'inline-label'
      = f.select :send_before, options_for_select([['Before', true], ['After', false]])
      = f.select :send_date_relative_to, options_for_select(['Course End', 'Course Start', 'Timeline End'])

    = f.button :submit, :class => "button dark"
