= simple_form_for(@survey_assignment) do |f|
  .block.survey-assignments.block--clear
    = f.error_notification
    = f.association :cohorts, as: :check_boxes
    = f.association :survey, as: :radio_buttons
    = f.button :submit, :class => "button dark"
