= simple_form_for(@survey_assignment) do |f|
  = f.error_notification

  .form-inputs
    = f.association :cohorts, as: :radio_buttons
    = f.association :surveys, as: :radio_buttons

  .form-actions
    = f.button :submit, :class => "button dark"
