.survey__admin-row.survey__admin-row--assignment
  .survey__admin-row__title
    .contextual Target Cohort#{survey_assignment.cohorts.count > 1 ? 's' : ''}:
    %strong= survey_assignment.cohorts.pluck(:title).join(', ')
    .contextual Target User:
    %span.emphasis= user_role(survey_assignment)
    .contextual Survey:
    %span.emphasis= survey_assignment.survey.name

  .survey__admin-row__col.border
    %strong Status:
    %strong.survey-assignment-color= survey_assignment.status

    .contextual Notification Schedule:
    %span= notification_schedule_summary(survey_assignment)

    .contextual Assignment #:
    %span ##{survey_assignment.id}

  -# %div
  -#   %strong Status:
  -#   %strong.survey-assignment-color= survey_assignment.status
    -# %span /
    -# %span= survey_assignment.survey_notifications.completed.length
    -# %span Completed /
    -# %span= survey_assignment.survey_notifications.length
    -# %span Notified /
    -# %span= survey_assignment.total_notifications
    -# %span Total

  .survey__admin-row__col
    .contextual Number of Courses
    %span= survey_assignment.courses_with_pending_notifications.count

    .contextual Estimated Recipients
    %span= survey_assignment.total_notifications
    %span= user_role(survey_assignment).pluralize

    .contextual Responses
    %span= assignment_response(survey_assignment)

  .survey__admin-row__col.survey__admin-row__col--actions
    -# = link_to 'Show', survey_assignment
    = link_to 'Edit', edit_survey_assignment_path(survey_assignment)
    = link_to 'Destroy', survey_assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }

    -# %div.clearfix
    -#   %button{:data => {:toggle_courses_table => true}}
    -#     %span Expand
    -#     %span.icon.icon-arrow-down

  -# .survey__admin-row__col
  -#   %strong Notes:
  -#   %span= survey_assignment.notes

  -# .survey__admin-row__expanded{:data => {:sortable_courses => true}}
  -#   %table.survey-assignment__courses
  -#     %thead
  -#       %tr
  -#         %th
  -#           %button{:class => 'sort', :data => {:sort => 'title'}} Title
  -#         %th
  -#           %button{:class => 'sort', :data => {:sort => 'id'}} Id
  -#
  -#     %tbody.list
  -#       - survey_assignment.cohorts.each do |cohort|
  -#         - cohort.courses.each do |course|
  -#           %tr
  -#             %td{ :class => 'title' }= pretty_course_title(course)
  -#             %td{ :class => 'id' }= course.id
