%li.row.course-list__row
  .row__wrapper
    %div
      %div
        %strong Survey Assigment #{survey_assignment_counter + 1}
      %div
        %strong Survey: 
        %span= survey_assignment.surveys.first.name
      %div
        %strong Cohort: 
        %span= survey_assignment.cohorts.first.title
    %div
      .course-list__col= link_to 'Show', survey_assignment
      .course-list__col= link_to 'Edit', edit_survey_assignment_path(survey_assignment)
      .course-list__col= link_to 'Destroy', survey_assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }