- content_for :after_title, ' - Article Finder'
%header.main-page
  .container
    %h1= @title
.container
  %section
    .section-header
      %h3
        = form_tag(method: 'post') do
          Put in a category name, excluding the prefix, like "Feminism"
          %br/
          %br/
          = label_tag(:category, "category")
          = text_field_tag(:category, @category)
          %br/
          = label_tag(:depth, "subcategory depth (max 2)")
          = text_field_tag(:depth, @depth)
          %br/
          = label_tag(:minviews, "minimum views")
          = text_field_tag(:minviews, @min_views)
          %br/
          = label_tag(:maxwp10, "maximum completeness (0-100)")
          = text_field_tag(:maxwp10, @max_wp10)
          %br/
          %button.button.dark= submit_tag("Go")
    - if @articles
      %div
        %table.table
          %thead
            %tr
              %th TITLE
              %th Views per day (recent average)
              %th Completeness estimate (0-100)
          %tbody
            - @articles.each do |article|
              = render :partial => 'row', :locals => {:article => article}
