<% content_for :after_title do " - Article Finder" end %>
<header class="main-page">
  <div class="container">
    <h1>Article Finder <%= @category %></h1>
  </div>
</header>
<div class="container">
<section>
<div class="section-header">
<h3><%= form_tag(method: 'post') do %>
  Put in a category name, excluding the prefix, like "Feminism"<br/><br/>
  <%= label_tag(:category, "category") %>
  <%= text_field_tag(:category, @category) %><br/>
  <%= label_tag(:depth, "depth") %>
  <%= text_field_tag(:depth, @depth) %><br/>
  <%= label_tag(:minviews, "minimum views") %>
  <%= text_field_tag(:minviews, @min_views) %><br/>
  <%= label_tag(:maxwp10, "maximum completeness (0-100)") %>
  <%= text_field_tag(:maxwp10, @max_wp10) %><br/>
  <button class="button dark"><%= submit_tag("Go") %></button>
<% end %></h3>
</div>
<% if @articles %>
<div>
  <ul class="list">
    <li class="row course-list__row">Title, Average Views, Completeness</li>
    <% @articles.each do |article| %>
      <%= render :partial => 'row', :locals => {:article => article} %>
    <% end %>
  </ul>
</div>
<% end %>
</section>
</div>
