.container
  %h1 Feedback

  %h3 Timestamp
  %p= @response.created_at

  %h3 Username
  %p= link_to @user.username, "/users/#{@user.url_encoded_username}" if @user

  %h3 Subject
  %p= @response.subject

  %h3 Body
  %p= @response.body
