.container
  %h1 Feedback

  %h2 Timestamp
  %p= @response.created_at

  %h2 Username
  %p= link_to @user.username, "/users/#{@user.url_encoded_username}" if @user

  %h2 Subject
  %p= @response.subject

  %h2 Body
  %p= @response.body
