%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %h1.headline
                = "#{@course.title}: application submitted."
              %p.paragraph
                = "Dear #{@instructor.real_name || @instructor.username},"
              %p.paragraph
                Thank you for submitting your Wiki Education course page. Your application is now complete. 
              %p.paragraph
                If you are submitting your course page for Winter/Spring 2021, we will notify you by December 11 whether we will have a spot for you.
              %p.paragraph
                If you have any questions, please reach out to Helaine Blumenthal (helaine@wikiedu.org)
              %p.paragraph
                You can access — and continue to edit — your course page here:
            %td.expander
        %table
          %tr
            %td.main-content.link-cell
              %a.button_link{:href => @course_link}
                = @course.title
            %td.expander
        %table
          %tr
            %td.main-content
              %p.paragraph
                Best regards,
                %br
                %em
                  The Wiki Ed team
