%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %h1.headline
                = "#{@course.title}: submitted!"
              %p.paragraph
                = "Hi #{@instructor.real_name || @instructor.username}! Thank you for joining Wiki Ed's Classroom Program. Your course page has been submitted successfully."
              %p.paragraph
                Helaine Blumenthal, Classroom Program Manager at Wiki Ed, will
                be in touch with you soon and will work to support your assignment
                throughout the term. In the meantime, if you have any questions, check out
                <a href="https://ask.wikiedu.org">ask.wikiedu.org</a>, where you can
                find answers to commonly asked questions about teaching with Wikipedia.
              %p.paragraph
                You can access — and continue to edit — your course page here:
            %td.expander
        %table
          %tr
            %td.main-content.link-cell
              %a.button_link{:href => @course_link}
                = @course.title
            %td.expander
        %table
          %tr
            %td.main-content
              %p.paragraph
                Best regards,
                %br
                %em
                  The Wiki Ed team
