= "#{@course.title}: submitted!"
= '================================'
= ''
= "Hi #{@instructor.username}! Thank you for submitting your course page at dashboard.wikiedu.org."
= ''
From this point on, Wiki Ed's Helaine Blumenthal will be helping you with your
course. She'll be in touch with you soon. In the meantime, if you have any
questions, check out https://ask.wikiedu.org, where you can find many answers to
commonly asked questions about teaching with Wikipedia.
= ''
= "You can access — and continue to edit — your course page here:"
= @course_link
= ''
Best regards,
The Wiki Ed team
