= "#{@course.title}: submitted!"
= '================================'
= ''
= "Hi #{@instructor.username}! Thank you for joining Wiki Ed's Classroom Program. Your course page has been submitted successfully."
= ''
Helaine Blumenthal, Classroom Program Manager at Wiki Ed, will be in touch with
you soon and will work to support your assignment throughout the term.
In the meantime, if you have any questions, check out https://ask.wikiedu.org,
where you can find answers to commonly asked questions about teaching with Wikipedia.
= ''
= "You can access — and continue to edit — your course page here:"
= @course_link
= ''
Best regards,
The Wiki Ed team
