- content_for :before_title, "Edit FAQ Topic - #{@topic.slug}"
.container
  %h2= "Editing topic: #{@topic.slug}"
  = form_with url: "/faq_topics/#{@topic.slug}", method: :update do
    = label_tag :name, 'Name'
    = text_field_tag :name, @topic.name
    = label_tag :faqs, 'IDs of FAQs included'
    = text_field_tag :faqs, @topic.faq_ids.join(',')
    = submit_tag 'Update FAQ Topic'

  %div
    %ul
      - @topic.faqs.each do |faq|
        %li
          %a{href: "/faq/#{faq.id}"}= faq.title
          = "(#{faq.id})"

  %hr
  = button_to 'delete', "/faq_topics/#{@topic.slug}", method: :delete, data: { confirm: "Are you sure you want to delete this?" }
