- content_for :after_title, " - #{@wiki.domain} Programs"

%header.main-page
  .container
    %h1= @wiki.domain

  .container
    = render 'courses/header_stats', presenter: @presenter

.container
  %section#courses
    .section-header
      .sort-select
        %select.sorts{:rel => "courses"}
          %option{:rel => "asc", :value => "title"}= t("courses.title")
          %option{:rel => "desc", :value => "revisions"}= t("metrics.revisions")
          %option{:rel => "desc", :value => "characters"}= t("metrics.word_count")
          %option{:rel => "desc", :value => "references"}= t("metrics.references_count")
          %option{:rel => "desc", :value => "average-words"}= t("metrics.word_count_average")
          %option{:rel => "desc", :value => "views"}= t("metrics.view")
          %option{:rel => "desc", :value => "students"}= t("users.editors")
          %option{:rel => "desc", :value => "creation-date"}= t("courses.creation_date")
          %option{:rel => "desc", :value => "untrained"}= t("courses.untrained")
    %table.table.table--hoverable.table--sortable
      %thead
        %tr
          %th.sort.sortable.asc{"data-default-order" => "asc", "data-sort" => "title"}
            = t("#{@presenter.course_string_prefix}.courses")
            %span.sortable-indicator
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "revisions", :style => "width: 165px;"}
            .tooltip-trigger
              = t("metrics.revisions")
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t("courses.revisions_doc", timeframe: RevisionStat::REVISION_TIMEFRAME)
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "characters", :style => "width: 172px;"}
            .tooltip-trigger
              = t("metrics.word_count")
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= course_i18n("word_count_doc")
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "references", :style => "width: 172px;"}
            .tooltip-trigger
              = t("metrics.references_count")
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t("metrics.references_doc")
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "views", :style => "width: 125px;"}
            .tooltip-trigger
              = t("metrics.view")
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t("courses.view_doc")
          %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "students", :style => "width: 200px;"}
            = t("users.editors")
            %span.sortable-indicator
      %tbody.list
        - @presenter.courses.each do |course|
          - cache [course, locale] do
            = render 'courses/row', course: course, admin: false, user: false
