= simple_form_for(@survey) do |f|
  = f.error_notification

  .form-inputs.light-text.survey__title-input
    = f.input :name

  .form-inputs.light-text.survey__title-input
    = f.input :open, label: "Survey Open (Anyone may take it)"
    = f.input :closed, label: "Close Survey"
    = f.input :show_courses, label: "Show Courses to preview Course Data Questions"

  %div.light-text
    = f.label :intro, "Survey Introduction"
    = f.hidden_field :intro , id: 'intro', value: @survey.intro
    %trix-editor{'input' => "intro"}

  .light-text
    %h3 Survey Question Groups
    %div.py= link_to "Edit Question Groups", edit_question_groups_path(@survey.id)

  - if @surveys_question_groups.length
    %ul.list.list--survey{'data-sortable-question-groups' => @survey.id}
      - @surveys_question_groups.each do |group|
        - question_group = group.question_group
        %li.question-group-row.row.course-list__row.row--survey-question{'data-item-id' => question_group.id}
          .row__wrapper
            .course-list__row__title
              %strong= question_group.name
            %div= link_to "Edit", rapidfire.question_group_questions_path(question_group)
      - if @surveys_question_groups.length > 1
        %li.survey__admin-tools
          %span Drag to reorder questions. (Changes will be saved automatically.)

  %div.light-text
    = f.label :thanks, "Survey Thank You"
    = f.hidden_field :thanks , id: 'thanks', value: @survey.thanks
    %trix-editor{'input' => "thanks"}

  .form__actions
    = f.button :submit, :class => 'button dark'
    = link_to "Preview Survey", survey_preview_url(@survey), :class => 'button'

  .form__actions.danger
    = link_to 'Delete this survey', @survey, :method => :delete, :data => { :confirm => 'Are you sure?' }
