%li.survey__admin-row.survey__admin-row--survey
  .survey__admin-row__title
    %strong.name= survey.name
  .survey__admin-row__col
    .contextual Status
    %strong.survey-color.status= survey_status(survey)
  .survey__admin-row__col
    .contextual Groups | Questions
    %strong= survey_question_stats(survey)
  .survey__admin-row__col
    .contextual Last Author
    %span.author= survey_author(survey)
  -# .survey__admin-row__col
  -#   .contextual Created
  -#   %span= survey.created_at.strftime("%B %d, %Y")
  .survey__admin-row__col
    .contextual Updated
    %span= survey.updated_at.strftime("%B %d, %Y")
  .survey__admin-row__col.survey__admin-row__col--actions
    = link_to 'Edit', edit_survey_path(survey)
    - if survey.rapidfire_question_groups.length > 0
      - preview_links = survey_preview_links(survey)
      - if preview_links.length == 1
        = link_to 'Preview', preview_links.first[:url]
      - else
        .preview-dropdown.collapsed{id: "preview-dropdown-#{survey.id}"}
          %button.button.small.preview-dropdown__button{onclick: "toggleSurveyPreviewDropdown('preview-dropdown-#{survey.id}'); event.preventDefault();"}
            Preview ▾
          .preview-dropdown__menu
            - preview_links.each do |link|
              .preview-link-item
                = link_to link[:label], link[:url], class: 'preview-link', target: '_blank'
                - if link[:course_title]
                  .preview-link-detail
                    %span.course-name= link[:course_title]
                    %span.question-groups Shows: #{link[:question_groups]}
    = link_to 'Results', survey_results_path(survey)
    -# .course-list__col
    -#   = link_to 'Delete', survey, :method => :delete, :data => { :confirm => 'Are you sure?' }
