%li.row.course-list__row
  .row__wrapper
    .course-list__row__title
      %strong= survey.name
    %div
      - if survey.rapidfire_question_groups.length > 0
        .course-list__col= link_to 'Preview', "#{survey_url(survey)}?preview"
        .course-list__col= link_to 'Take Survey', "#{survey_url(survey)}"
      - if can_administer?
        .course-list__col
          = link_to "Clone Survey", "/surveys/clone/#{survey.id}", method: :post
        .course-list__col
          = link_to 'Edit', edit_survey_path(survey)
        .course-list__col
          = link_to 'Delete', survey, :method => :delete, :data => { :confirm => 'Are you sure?' }
