.survey__admin-row
  .course-list__row__title
    %strong= survey.name
  %div
    - if survey.rapidfire_question_groups.length > 0
      = link_to 'Preview', "#{survey_url(survey)}?preview"
    = link_to "Clone Survey", "/surveys/clone/#{survey.id}", method: :post
    = link_to 'Edit', edit_survey_path(survey)
    -# .course-list__col
    -#   = link_to 'Delete', survey, :method => :delete, :data => { :confirm => 'Are you sure?' }
