= render 'admin_header'
.block.block--clear

  %h3 Editing Question Groups for "#{@survey.name}" Survey

  = simple_form_for(@survey) do |f|
    = f.error_notification

    .form-input
      = f.association :rapidfire_question_groups,   as: :check_boxes

    .form-actions
      = f.button :submit, "Update Question Groups", :class => 'button dark'
