.block.text-center.survey__login
  %h1= @survey.name
  %p.lead= t('survey.login_message')
  = link_to user_mediawiki_omniauth_authorize_path, class: 'button dark', method: :post do
    %i.icon.icon-wiki-logo-purple
    %span= t('application.log_in')
    %span= t('application.sign_up_log_in_extended')
