= render 'admin_header'
.container.survey__admin
  .block.block--clear
    = simple_form_for(@survey) do |f|
      = f.error_notification

      .form-inputs.survey__title-input
        = f.input :name

        .form-actions
          = f.button :submit, :class => 'button dark'
