%p#notice= notice

- if @survey.intro?
  .block.block--text.disabled.not-seen{"data-survey-block" => "0", "data-intro" => true}
    %h1.survey__title= @survey.name
    - if @survey.intro?
      = @survey.intro.html_safe
    - if @survey.show_courses
      = select_tag("course", options_from_collection_for_select(@courses, 'slug', 'title'), :required => true, :include_blank => true, :data => {:chosen_select => true, :survey_course_select => true, :placeholder => "Select your course"})
    .survey__block-nav
      %div
      - if @survey.show_courses
        %button.button.survey__next.dark{"data-next-survey-block" => "course" }
          %span Start
          %span.icon.icon-rt_arrow
      - else
        %button.button.survey__next.dark{"data-next-survey-block" => "", "data-no-validate" => true}
          %span Start
          %span.icon.icon-rt_arrow

- @surveys_question_groups.each_with_index do |group, index|
  = render partial: "question_group", locals: question_group_locals(group, index, @surveys_question_groups.length)

.block.block--text.block--clear.block--thank-you.disabled.not-seen{"data-thank-you" => true}
  .block--thank-you__container
    %h2.big-title Thank You!
    - if @survey.thanks?
      = @survey.thanks.html_safe