%section#courses
  .section-header
    %h3
      = t("courses.active_courses", course_type: t("#{presenter.course_string_prefix}.courses")) + ': ' + presenter.campaign.title
    .sort-select
      %select.sorts{:rel => "courses"}
        %option{:rel => "asc", :value => "title"}= t("courses.title")
        %option{:rel => "desc", :value => "revisions"}= t("metrics.revisions")
        %option{:rel => "desc", :value => "characters"}= t("metrics.word_count")
        %option{:rel => "desc", :value => "average-words"}= t("metrics.word_count_average")
        %option{:rel => "desc", :value => "views"}= t("metrics.view")
        %option{:rel => "desc", :value => "students"}= t("users.editors")
        %option{:rel => "desc", :value => "creation-date"}= t("courses.creation_date")
        %option{:rel => "desc", :value => "untrained"}= t("courses.untrained")
  %table.table.table--hoverable.table--sortable
    %thead
      %tr
        %th.sort.sortable.asc{"data-default-order" => "asc", "data-sort" => "title"}
          = t("#{presenter.course_string_prefix}.courses")
          %span.sortable-indicator
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "revisions", :style => "width: 165px;"}
          .tooltip-trigger
            = t("metrics.revisions")
            %span.sortable-indicator
            %span.tooltip-indicator
            .tooltip.dark
              %p= t("courses.revisions_doc", timeframe: RevisionStat::REVISION_TIMEFRAME)
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "characters", :style => "width: 172px;"}
          .tooltip-trigger
            = t("metrics.word_count")
            %span.sortable-indicator
            %span.tooltip-indicator
            .tooltip.dark
              %p= course_i18n("word_count_doc")
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "views", :style => "width: 125px;"}
          .tooltip-trigger
            = t("metrics.view")
            %span.sortable-indicator
            %span.tooltip-indicator
            .tooltip.dark
              %p= t("courses.view_doc")
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "students", :style => "width: 200px;"}
          = t("users.editors")
          %span.sortable-indicator
    %tbody.list
      - presenter.active_courses_by_recent_edits.each do |c|
        = render 'courses/row', course: c, admin: false, user: false
  .campaigns-actions
    - if presenter.can_create?
      = link_to(t("#{presenter.course_string_prefix}.creator.create_new"), course_creator_path, class: 'button dark')

    %a.button{href: programs_campaign_path(presenter.campaign.slug)}
      = t("#{Features.default_course_string_prefix}.all_courses")
      %span.icon.icon-rt_arrow
