<section id="courses">
  <div class="section-header">
    <h3><%= [t("#{presenter.course_string_prefix}.courses"), presenter.cohort.title].join(" | ") %></h3>
    <div class="sort-select inset">
      <select class="sorts" rel="courses">
        <option rel="asc" value="title"><%= t("courses.title") %></option>
        <option rel="desc" value="revisions"><%= t("metrics.revisions") %></option>
        <option rel="desc" value="characters"><%= t("metrics.word_count") %></option>
        <option rel="desc" value="average-words"><%= t("metrics.average_word_count") %></option>
        <option rel="desc" value="views"><%= t("metrics.view") %></option>
        <option rel="desc" value="students"><%= t("users.editors") %></option>
        <option rel="desc" value="creation-date"><%= t("courses.creation_date") %></option>
        <% unless Features.disable_training? %>
          <option rel="desc" value="untrained"><%= t("courses.untrained") %></option>
        <% end %>
      </select>
    </div>
    <div class="cohort-select">
      <select class="cohorts">
        <option selected disabled>
        <%= course_i18n("view_other") %></option>
        <% Cohort.all.each do |c| %>
          <% unless presenter.cohort.slug == c.slug %>
            <option value="<%= c.slug %>"><%= c.title %></option>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.permissions == 1 && presenter.cohort.slug != 'none' %>
          <option value="none"><%= t("cohort.none") %></option>
        <% end %>
      </select>
    </div>
  </div>
  <table class="table table--hoverable table--sortable">
    <thead>
      <tr>
        <th class="sort sortable asc" data-default-order="asc" data-sort="title">
          <%= t("#{presenter.course_string_prefix}.courses") %>
          <span class="sortable-indicator"></span>
        </th>
        <th style="width: 165px;" class="sort sortable" data-default-order="desc" data-sort="revisions">
          <div class="tooltip-trigger">
            <%= t("metrics.revisions") %>
            <span class="sortable-indicator"></span>
            <span class="tooltip-indicator"></span>
            <div class="tooltip dark">
              <p><%= t("courses.revisions_doc", timeframe: RevisionStat::REVISION_TIMEFRAME) %></p>
            </div>
          </div>
        </th>
        <th style="width: 172px;" class="sort sortable" data-default-order="desc" data-sort="characters">
          <div class="tooltip-trigger">
            <%= t("metrics.word_count") %>
            <span class="sortable-indicator"></span>
            <span class="tooltip-indicator"></span>
            <div class="tooltip dark">
              <p><%= course_i18n("word_count_doc") %></p>
            </div>
          </div>
        </th>
        <th style="width: 125px;" class="sort sortable" data-default-order="desc" data-sort="views">
          <div class="tooltip-trigger">
            <%= t("metrics.view") %>
            <span class="sortable-indicator"></span>
            <span class="tooltip-indicator"></span>
            <div class="tooltip dark">
              <p><%= t("courses.view_doc") %></p>
            </div>
          </div>
        </th>
        <th style="width: 200px;" class="sort sortable" data-default-order="desc" data-sort="students">
          <%= t("users.editors") %>
          <span class="sortable-indicator"></span>
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <% presenter.courses_by_recent_edits.each do |c| %>
        <%= render 'courses/row', course: c, admin: false, user: false %>
      <% end %>
    </tbody>
  </table>
</section>
