<div class="stat-display">
  <div class="stat-display__stat">
    <div class="stat-display__value"><%= presenter.courses.count %></div>
    <small><%= t("courses.course_description") %></small>
    </div>
  <div class="stat-display__stat popover-trigger">
    <div class="stat-display__value"><%= presenter.cohort.students_without_nonstudents.count %></div>
    <small><%= t("courses.students") %></small>
    <div class="popover dark">
      <h4><%= number_to_human presenter.cohort.trained_percent %>%</h4>
      <p><%= t("users.up_to_date_with_training") %></p>
    </div>
  </div>
  <div class="stat-display__stat">
    <div class="stat-display__value"><%= number_to_human presenter.word_count %></div>
    <small><%= t("metrics.word_count") %></small>
  </div>
  <div class="stat-display__stat">
    <div class="stat-display__value"><%= number_to_human presenter.courses.sum(:view_sum) %></div>
    <small><%= t("metrics.view_count_description") %></small>
  </div>
  <div class="stat-display__stat">
    <div class="stat-display__value"><%= number_to_human presenter.courses.sum(:article_count) %></div>
    <small><%= t("metrics.articles_edited") %></small>
  </div>
  <div class="stat-display__stat">
    <div class="stat-display__value"><%= number_to_human presenter.courses.sum(:new_article_count) %></div>
    <small><%= t("metrics.articles_created") %></small>
  </div>
</div>
