<% content_for :navigation do %>
  <div class="nav__item active">
    <h5>Course Dashboard</h5>
    <ul class="nav__item__subnav">
      <li class="<%= page == 0 ? 'active' : '' %>">
        <h6><%= link_to 'Course Overview', course_path(course.slug) %></h6>
      </li>
      <li class="<%= page == 1 ? 'active' : '' %>">
        <h6><%= link_to 'Student Editors', :action => "students" %></h6>
      </li>
      <li class="<%= page == 2 ? 'active' : '' %>">
        <h6><%= link_to 'Articles Edited', :action => "articles" %></h6>
      </li>
    </ul>
  </div>
<% end %>