%tr{:class => "#{user ? date_highlight_class(course) : ''}", "data-link" => "#{course_slug_path(course.slug)}"}
  %td.title{:role => "button", :tabindex => "0"}
    = course.title
    %span.creation-date.hidden
      = course.created_at
  %td.revisions
    = course.recent_revision_count
  %td
    %span.characters-human
      = number_to_human course.word_count
    %span.characters.hidden
      = course.word_count
    %small.average-words-human
      (#{t("metrics.per_user", number: number_to_human(course.average_word_count))})
    %span.average-words.hidden
      = course.average_word_count
  %td
    %span.views-human
      = number_to_human course.view_sum
    %span.views.hidden
      = course.view_sum
  %td
    %span.students
      = course.user_count
    %small.untrained= t("users.training_complete_count", count: course.trained_count)
