<li class="row course-list__row">
  <div class="course-list__row__title"><p><%= course.title %></p></div>
  <div class="course-list__row__characters"><h4><%= number_to_human course.character_sum %></h4></div>
  <div class="course-list__row__views"><h4><%= number_to_human course.view_sum %></h4></div>
  <div class="course-list__row__students"><h4 class="training"><%= number_to_human course.user_count %></h4><small class="training"><%= trained = course.users.select { |user| user.trained }; p trained.count %> completed training</small></div>
  <div class="course-list__row__link"><%= link_to 'View Course', course_path(:id => course.slug), :class => "button" %></div>
</li>