<li class="row course-list__row">
  <%= link_to course_slug_path(course.slug), 'id' => course.id do %>
    <div class="row__wrapper">
      <div class="course-list__row__title">
        <p class="title"><%= course.title %></p>
      </div>
      <div class="course-list__row__characters">
        <p><%= number_to_human course.character_sum %></p>
        <p class="characters hidden"><%= course.character_sum %></p>
      </div>
      <div class="course-list__row__views">
        <p><%= number_to_human course.view_sum %></p>
        <p class="views hidden"><%= course.view_sum %></p>
      </div>
      <div class="course-list__row__students">
        <p class="training"><%= course.user_count %></p>
        <small class="training"><%= t("user.training_complete_count", count: course.user_count - course.untrained_count) %></small>
        <p class="students hidden"><%= course.user_count %></p>
      </div>
      <div class="course-list__row__link">
        <p class="fake-link"><%= t("course.view") %></p>
      </div>
    </div>
  <% end %>
</li>
