<tr data-link="<%= course_slug_path(course.slug) %>" class="<%= user ? date_highlight_class(course) : '' %>">
  <td class="<%= user ? 'u' : '' %>title title" role="button" tabindex="0">
    <%= course.title %>
  </td>
  <td class="revisions">
    <%= course.recent_edit_count %>
  </td>
  <td>
    <span class="characters-human">
      <%= number_to_human course.word_count %>
    </span>
    <span class="characters hidden">
      <%= course.word_count %>
    </span>
    <small class="average-words-human">(<%= t("metrics.per_user", number: number_to_human(course.average_word_count)) %>)</small>
    <span class="average-words hidden">
      <%= course.average_word_count %>
    </span>
  </td>
  <td>
    <span class="views-human">
      <%= number_to_human course.view_sum %>
    </span>
    <span class="views hidden">
      <%= course.view_sum %>
    </span>
  </td>
  <td>
    <span class="students">
      <%= course.user_count %>
    </span>
    <% unless Features.disable_training? %>
      <small class="untrained"><%= t("users.training_complete_count", count: course.trained_count) %></small>
    <% end %>
  </td>
</tr>
