<section id="user_courses">
  <table class="table table--hoverable table--sortable">
    <thead>
      <tr>
        <th class="sort sortable" data-sort="utitle">
          <%= t("courses.courses") %>
          <span class="sortable-indicator"></span>
        </th>
        <th style="width: 165px;" class="sort sortable" data-sort="urevisions">
          <div class="popover-trigger">
            <%= t("metrics.revisions") %>
            <span class="sortable-indicator"></span>
            <div class="popover dark">
              <p><%= t("courses.revisions_doc", timeframe: RevisionStat::REVISION_TIMEFRAME) %></p>
            </div>
          </div>
        </th>
        <th style="width: 172px;" class="sort sortable" data-sort="ucharacters">
          <div class="popover-trigger">
            <%= t("metrics.char") %>
            <span class="sortable-indicator"></span>
            <div class="popover dark">
              <p><%= t("courses.character_doc") %></p>
            </div>
          </div>
        </th>
        <th style="width: 125px;" class="sort sortable" data-sort="uviews">
          <div class="popover-trigger">
            <%= t("metrics.view") %>
            <span class="sortable-indicator"></span>
            <div class="popover dark">
              <p><%= t("courses.view_doc") %></p>
            </div>
          </div>
        </th>
        <th style="width: 200px;" class="sort sortable" data-sort="ustudents">
          <%= t("users.editors") %>
          <span class="sortable-indicator"></span>
        </th>
      </tr>
    </thead>
    <tbody class="list">
    <% if @pres.strictly_current.empty? %>
      <tr>
        <td colspan="5" class="empty"><%= t("courses.nocourses") %></td>
      </tr>
    <% else %>
      <% @pres.strictly_current.each do |c| %>
        <%= render 'courses/row', course: c, user: true %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</section>
