<div id="react_root" data-current_user="<%= user_signed_in? ? current_user.roles(@course).to_json : { admin: false } %>"></div>

<!-- <% content_for :before_title do "#{@course.title} - Activity - " end %>

<%= render :partial => 'header', :locals => {:page => 4} %>

<div class="course_main">
  <section id="react_root" class="container">
    <div class="section-header">
      <h3><%= t("activity.all") %></h3>
      <div class="sort-select">
        <select class="sorts" rel="activity">
          <option rel="asc" value="title"><%= t("article.title") %></option>
          <option rel="asc" value="rating_num"><%= t("article.rating") %></option>
          <option rel="asc" value="edited_by"><%= t("activity.edited_by") %></option>
          <option rel="desc" value="characters"><%= t("metrics.char_added") %></option>
          <option rel="desc" value="date_time"><%= t("metrics.date_time") %></option>
        </select>
      </div>
    </div>
    <%= render :partial => 'activity/list_header' %>
    <ul class="list">
    <% if @revisions.count > 0 %>
      <% @revisions.each do |r| %>
        <%= render :partial => 'activity/row', :locals => {:revision => r} %>
      <% end %>
    <% else %>
      <li class="row view-all">
        <div><%= t("article.edited_none", title: @course.title) %></div>
      </li>
    <% end %>
    </ul>
  </section>
</div> -->