<%= render :partial => 'nav', :locals => {:page => 2, :course => @course} %>

<%= render :partial => 'header', :locals => {:page => 2} %>

<section id="articles">
  <h3 class="section-header">Articles Edited</h3>
  <div class="row article-list__row list__header">
    <div class="article-list__row__title sort" data-sort="title"><p>Title</p></div>
    <div class="article-list__row__characters sort" data-sort="characters" title="<%= Article.character_def %>"><p>Characters added</p></div>
    <div class="article-list__row__views sort" data-sort="views" title="<%= Article.view_def %>"><p>Views since first revision</p></div>
    <div class="article-list__row__link"></div>
  </div>
  <ul class="list">
  <% @articles.each do |a| %>
    <%= render :partial => 'articles/row', :locals => {:article => a} %>
  <% end %>
  </ul>
</section>