<%= render :partial => 'nav', :locals => {:page => 2, :course => @course} %>

<header class="subpage">
  <div class="title">
    <h2>Articles Edited</h2>
    <p class="subtitle"><%= @course.title %></p>
  </div>
  <div class="stat-display half">
    <div class="stat-display__stat"><h3><%= number_to_human @course.article_count %></h3><small>Articles Edited</small></div>
    <div class="stat-display__stat"><h3><%= number_to_human @course.view_sum %></h3><small>Article Views</small></div>
  </div>
  <div class="row article-list__row table__header article-list__sort">
    <div class="article-list__row__title sort" data-sort="title"><p>Title</p></div>
    <div class="article-list__row__characters sort" data-sort="characters" title="<%= Article.character_def %>"><p>Characters added</p></div>
    <div class="article-list__row__views sort" data-sort="views" title="<%= Article.view_def %>"><p>Views this month</p></div>
    <div class="article-list__row__link sort"></div>
  </div>
</header>

<section id="articles">
  <ul class="list">
  <% @articles.each do |a| %>
    <%= render :partial => 'articles/row', :locals => {:article => a} %>
  <% end %>
  </ul>
</section>