<%= render :partial => 'nav', :locals => {:page => 2, :course => @course} %>

<header class="subpage">
  <div class="title">
    <h2>Articles Edited</h2>
    <p class="subtitle"><%= @course.title %></p>
  </div>
  <div class="stat-display half">
    <div class="stat-display__stat"><h3><%= number_to_human @course.article_count %></h3><small>Articles Edited</small></div>
    <div class="stat-display__stat"><h3><%= number_to_human @course.view_sum %></h3><small>Article Views</small></div>
  </div>
  <div class="row article-list__row table__header">
    <div class="article-list__row__name">Title</div>
    <div class="article-list__row__characters">Characters added</div>
    <div class="article-list__row__views">Views this month</div>
    <div class="article-list__row__link"></div>
  </div>
</header>

<section>
  <ul class="list">
  <% @articles.each do |a| %>
    <%= render :partial => 'articles/row', :locals => {:article => a} %>
  <% end %>
  </ul>
</section>