<%= render :partial => 'nav', :locals => {:page => 2, :course => @course} %>

<%= render :partial => 'header', :locals => {:page => 2} %>

<section id="articles">
  <h3 class="section-header">Articles Edited</h3>
  <%= render :partial => 'articles/list_header' %>
  <ul class="list">
  <% if @articles.count > 0 %>
    <% @articles.each do |a| %>
      <%= render :partial => 'articles/row', :locals => {:article => a} %>
    <% end %>
  <% else %>
    <li class="row view-all">
      <div><%= @course.title %> has not edited any articles</div>
    </li>
  <% end %>
  </ul>
</section>