<header>
  <h1>WikiEdu Dashboard</h1>
  <!-- <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisl quis nisl fermentum condimentum eu ut felis ed at nisl quis dolor sit amet.</p> -->
  <div class="stat-display">
    <div class="stat-display__stat">
      <h1><%= @courses.count %></h1>
      <small>WikiEdu Courses</small>
      </div>
    <div class="stat-display__stat popover-trigger">
      <h1><%= number_to_human @courses.sum(:user_count) %></h1>
      <small>Student Editors</small>
      <div class="popover">
        <h4><%= @untrained %></h4>
        <p>have not completed training</p>
      </div>
    </div>
    <div class="stat-display__stat">
      <h1><%= number_to_human @courses.sum(:character_sum) %></h1>
      <small>Characters Added</small>
    </div>
    <div class="stat-display__stat">
      <h1><%= number_to_human @courses.sum(:view_sum) %></h1>
      <small>Article Views</small>
    </div>
  </div>
</header>

<section id="courses">
  <h3 class="section-header">All Current Courses | <%= @cohort.gsub('_', ' ').capitalize %></h3>
  <div class="sort-select inset">
    <select class="sorts" rel="courses">
      <option rel="asc" value="title">Title</option>
      <option rel="desc" value="characters">Characters</option>
      <option rel="desc" value="views">Views</option>
      <option rel="desc" value="students">Students</option>
    </select>
  </div>
  <div class="cohort-select">
    <select class="cohorts">
      <option selected disabled>View other cohorts</option>
      <% Figaro.env.cohorts.split(",").each do |c| %>
      <% unless @cohort == c %>
      <option value="<%= c %>"><%= c.gsub('_', ' ').capitalize %></option>
      <% end %>
      <% end %>
    </select>
  </div>
  <div class="row course-list__row list__header">
    <div class="row__wrapper">
      <div class="course-list__row__title sort asc" data-sort="title"><p>Current Courses</p></div>
      <div class="course-list__row__characters sort popover-trigger" data-default-order="desc" data-sort="characters">
        <p>Chars Added</p>
        <div class="popover dark">
          <p><%= t("course.character") %></p>
        </div>
      </div>
      <div class="course-list__row__views sort popover-trigger" data-default-order="desc" data-sort="views">
        <p>Views</p>
        <div class="popover dark">
          <p><%= t("course.view") %></p>
        </div>
      </div>
      <div class="course-list__row__students sort" data-default-order="desc" data-sort="students"><p>Student Editors</p></div>
      <div class="course-list__row__link"></div>
    </div>
  </div>
  <ul class="list">
  <% @courses.each do |c| %>
    <%= render :partial => 'row', :locals => {:course => c} %>
  <% end %>
  </ul>
</section>
