<%= render :partial => 'nav', :locals => {:page => 0, :course => @course} %>

<header class="subpage">
  <div class="title">
    <h2><%= @course.title %></h2>
    <h6><%= @course.start %> &mdash; <%= @course.end %></h6>
    <div>
<!--       <div class="leader"><h6>Instructor</h6><p>Jane Doe</p></div>
      <div class="leader"><h6>Ambassador</h6><p>John Doe</p></div> -->
    </div>
    <div>

    </div>
  </div>
  <div class="stat-display">
    <div class="stat-display__stat"><h3><%= number_to_human @course.article_count %></h3><small>Articles Edited</small></div>
    <div class="stat-display__stat"><h3><%= number_to_human @course.user_count %></h3><small>Student Editors</small></div>
    <div class="stat-display__stat"><h3><%= number_to_human @course.character_sum %></h3><small>Characters Added</small></div>
    <div class="stat-display__stat"><h3><%= number_to_human @course.view_sum %></h3><small>Article Views</small></div>
  </div>
  <div class="instructors"></div>
  <div class="description">
<!--     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at nisl quis nisl fermentum condimentum eu ut felis. Aenean commodo dictum ligula eu bibendum. Suspendisse pharetra dignissim quam dapibus sagittis.</p> -->
  </div>
</header>

<section id="users">
  <h3 class="section-header">Student Editors</h3>
  <div class="row user-list__row list__header">
    <div class="user-list__row__name sort" data-sort="name">Name</div>
    <div class="user-list__row__training sort" data-sort="training" title="<%= User.training_def %>">Completed training</div>
    <div class="user-list__row__characters sort" data-sort="characters" title="<%= User.character_def %>">Characters added</div>
    <div class="user-list__row__link"></div>
  </div>
  <ul class="list">
  <% @students.each do |s| %>
    <%= render :partial => 'users/row', :locals => {:user => s} %>
  <% end %>
  </ul>
  <div class="row view-all">
    <div><%= link_to "View All", {:action => "students"}, {:class => "button large"} %></div>
  </div>
</section>

<section id="articles">
  <h3 class="section-header">Articles Edited</h3>
  <div class="row article-list__row list__header">
    <div class="article-list__row__title sort" data-sort="title">Title</div>
    <div class="article-list__row__characters sort" data-sort="characters" title="<%= Article.character_def %>">Characters added</div>
    <div class="article-list__row__views sort" data-sort="views" title="<%= Article.view_def %>">Views this month</div>
    <div class="article-list__row__link"></div>
  </div>
  <ul class="list">
  <% @articles.each do |a| %>
    <%= render :partial => 'articles/row', :locals => {:article => a} %>
  <% end %>
  </ul>
  <div class="row view-all">
    <div><%= link_to "View All", {:action => "articles"}, {:class => "button large"} %></div>
  </div>
</section>
