<h1><%= @course.title %></h1>
<h2><%= @course.school %></h2>
<h2><%= @course.term %></h2>
<h2>Total participants: <%= @students.count %></h2>
<br>
<p><%= link_to 'Back to index', root_url %>
<br><br>
<ul>
<% @students.each do |s| %>
  <li><%= s.wiki_id %></li>
<% end %>
</ul>