<%= render :partial => 'nav', :locals => {:page => 1, :course => @course} %>

<%= render :partial => 'header', :locals => {:page => 1} %>

<section id="users">
  <h3 class="section-header">Student Editors</h3>
  <div class="row user-list__row list__header user-list__sort">
    <div class="user-list__row__name sort asc" data-sort="name"><p>Name</p></div>
    <div class="user-list__row__training sort" data-default-order="desc" data-sort="training" title="<%= User.training_def %>"><p>Completed training</p></div>
    <div class="user-list__row__characters sort" data-default-order="desc" data-sort="characters" title="<%= User.character_def %>"><p>Characters added</p></div>
    <div class="user-list__row__link"></div>
  </div>
  <ul class="list">
  <% @students.each do |s| %>
    <%= render :partial => 'users/row', :locals => {:user => s} %>
  <% end %>
  </ul>
</section>