<%= render :partial => 'nav', :locals => {:page => 1, :course => @course} %>

<%= render :partial => 'header', :locals => {:page => 1} %>

<section id="users">
  <div class="section-header">
    <h3><%= t("course.students") %></h3>
    <% if @course.users.role('instructor').include? current_user %>
    <div class="message">
      <%= link_to "Notify untrained students", {:action => 'notify_untrained', :course => @course.id }, class: 'notify_untrained' %>
    </div>
    <% end %>
    <div class="sort-select">
      <select class="sorts" rel="users">
        <option rel="asc" value="name"><%= t("user.name") %></option>
        <option rel="desc" value="characters-ms"><%= t("namespace.main_char_added") %></option>
        <option rel="desc" value="characters-us"><%= t("namespace.user_char_added") %></option>
        <option rel="desc" value="edits"><%= t("user.assigned") %></option>
      </select>
    </div>
  </div>
  <%= render :partial => 'users/list_header' %>
  <ul class="list">
  <% if @courses_users.count > 0 %>
    <% @courses_users.each do |cu| %>
      <%= render :partial => 'users/row', :locals => {:cu => cu} %>
    <% end %>
  <% else %>
    <li class="row view-all">
      <div><%= t("course.students_none", title: @course.title) %></div>
    </li>
  <% end %>
  </ul>
</section>
