<% content_for :before_title do "#{@course.title} - Students - " end %>

<%= render :partial => 'header', :locals => {:page => 1} %>

<div class="course_main">
  <section id="react_root" class="container">
    <div class="section-header">
      <h3><%= t("course.students") %></h3>
      <% if user_signed_in? and (current_user.instructor?(@course) or current_user.admin?) %>
        <%= link_to({:action => 'notify_untrained', :course => @course.id }, class: 'notify_untrained') do %><% end %>
      <% end %>
      <div class="sort-select">
        <select class="sorts" rel="users">
          <option rel="asc" value="name"><%= t("user.name") %></option>
          <option rel="asc" value="assignee"><%= t("user.assigned") %></option>
          <option rel="asc" value="reviewer"><%= t("user.reviewer") %></option>
          <option rel="desc" value="characters-ms"><%= t("namespace.main_char_added") %></option>
          <option rel="desc" value="characters-us"><%= t("namespace.user_char_added") %></option>
        </select>
      </div>
    </div>
    <%= render :partial => 'users/list_header' %>
    <ul class="list">
    <% unless @courses_users.nil? || @courses_users.empty? %>
      <% @courses_users.each do |cu| %>
        <%= render :partial => 'users/row', :locals => {:cu => cu} %>
      <% end %>
    <% else %>
      <li class="row view-all">
        <div><%= t("course.students_none", title: @course.title) %></div>
      </li>
    <% end %>
    </ul>
  </section>
</div>
