%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph
  Suspected plagiarism from
  %a{href: "https://#{ENV['dashboard_url']}/users/#{@user.url_encoded_username}"}= "User:#{@user.username}"
%p.paragraph
  Course:
  %a{href: "https://#{ENV['dashboard_url']}/courses/#{@course.slug}"}= @course.title
%p.paragraph
  Article:
  %a{href: @article_url}= @article.title
%p.paragraph
  %a{href: @revision.url} diff
%p.paragraph
  %a{href: @report_url} iThenticate report
%table
  %tr
    %td.main-content.link-cell
      %a.button_link{:href => @talk_page_new_section_url}
        Warn user
