%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph= "Suspected plagiarism from User:#{@user.username}"
%p.paragraph= "Course: #{@course.title}"
%p.paragraph= "Article: #{@article.title}"
%p.paragraph
  %a{href: @revision.url} diff
%p.paragraph
  %a{href: @report_url} iThenticate report
