= hot_javascript_tag 'faq_editor'
- content_for :before_title, "Edit FAQ - #{@faq.title}"
.container.faq-editor
  .editor-pane
    = simple_form_for @faq do |f|
      = f.input :title, input_html: { class: 'faq-editor__title' }
      = f.input :content, as: :text,
                 input_html: { id: 'faq_content', class: 'faq-editor__textarea', rows: 16, 'data-preview-target': '#faq_preview' }
      = f.button :submit, class: 'button'        

    %hr
    = button_to 'Delete', @faq, method: :delete,
      data: { confirm: "Are you sure you want to delete this?" }, class: 'button'

  .preview-pane
    %h3 Preview
    .faq-preview.markdown#faq_preview
      = raw @faq.html_content