= hot_javascript_tag 'accordian'

%header
  .container.faq-header
    %h1 Frequently Asked Questions
    = form_tag '/faq', method: :get do
      = text_field_tag(:search, @query, placeholder: 'search', id: 'faq_search')
      %button.search#submit_search{type: 'submit'}
        %i.icon.icon-search
.container
  .faq-list
    - @faqs.each do |faq|
      = render 'faq', faq: faq, expanded: @query.present?
  .faq-topic-list
    %h3 Topics
    - FaqTopic.all.each do |topic|
      %hr
      - if topic.slug == @topic_slug
        = topic.name
      - else
        %a.topic-link{href: "/faq?topic=#{topic.slug}"}= topic.name
