%section#campaigns
  .section-header
    %h3
      = t('campaign.active_campaigns')
    .sort-select
      %select.sorts{rel: "campaigns"}
        %option{rel: "asc", value: "title"}= t("courses.title")
        %option{rel: "desc", value: "num-courses"}= t("#{Features.default_course_string_prefix}.courses")
        %option{rel: "desc", value: "articles-created"}= t('metrics.articles_created')
        %option{rel: "desc", value: "characters"}= t("metrics.word_count")
        %option{rel: "desc", value: "views"}= t("metrics.view")
        %option{rel: "desc", value: "students"}= t("users.editors")
        %option{rel: "desc", value: "creation-date"}= t("courses.creation_date")
        %option{:rel => "desc", :value => "untrained"}= t("courses.untrained")
  %table.table.table--hoverable.table--sortable
    %thead
      %tr
        %th.sort.sortable.asc{"data-default-order" => "asc", "data-sort" => "title"}
          = t('campaign.campaigns')
          %span.sortable-indicator
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "num-courses", style: "width: 150px"}
          .tooltip-trigger
            = t("#{Features.default_course_string_prefix}.courses")
            %span.sortable-indicator
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "articles-created", style: "width: 180px"}
          .tooltip-trigger
            = t('metrics.articles_created')
            %span.sortable-indicator
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "characters", style: "width: 172px;"}
          .tooltip-trigger
            = t("metrics.word_count")
            %span.sortable-indicator
            %span.tooltip-indicator
            .tooltip.dark
              %p= course_i18n("word_count_doc")
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "views", style: "width: 125px;"}
          .tooltip-trigger
            = t("metrics.view")
            %span.sortable-indicator
            %span.tooltip-indicator
            .tooltip.dark
              %p= t("courses.view_doc")
        %th.sort.sortable{"data-default-order" => "desc", "data-sort" => "students", style: "width: 150px;"}
          = t("users.editors")
          %span.sortable-indicator
    %tbody.list
      - presenter.campaigns_by_num_courses.each do |campaign|
        - campaign_presenter = CoursesPresenter.new(current_user: current_user, campaign_param: campaign.slug)
        = render 'campaigns/row', presenter: campaign_presenter, campaign: campaign
  .campaigns-actions
    - if presenter.can_create?
      = link_to(t('campaign.create_campaign'), new_campaign_path(create: true), class: 'button dark')

    %a.button{href: campaigns_path}
      = t('campaign.all_campaigns')
      %span.icon.icon-rt_arrow
