.campaign-nav__wrapper
  .campaign_navigation
    .container
      %a
        %h2.title
          = "#{t('campaign.campaign')}: #{@campaign.title}"
      %nav
        %ul
          = nav_link(t('courses.overview'), overview_campaign_path(@campaign.slug))
          = nav_link(t("#{Features.default_course_string_prefix}.courses"), programs_campaign_path(@campaign.slug))
          = nav_link(t('courses.articles'), articles_campaign_path(@campaign.slug))
