%tr
  %td{:class => "table-link-cell title", :role => "button", :tabindex => "0"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.title
        = campaign.title
  %td{:class => "table-link-cell"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.num-courses-human
        = number_to_human(presenter.course_count)
      %span.num-courses.hidden
        = presenter.course_count
  %td{:class => "table-link-cell"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.articles-created-human
        = number_to_human(presenter.new_article_count)
      %span.articles-created.hidden
        = presenter.new_article_count
  %td{:class => "table-link-cell"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.articles-edited-human
        = number_to_human(presenter.article_count)
      %span.articles-edited.hidden
        = presenter.article_count
  %td{:class => "table-link-cell"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.characters-human
        = number_to_human(presenter.word_count)
      %span.characters.hidden
        = presenter.word_count
  %td{:class => "table-link-cell"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.views-human
        = number_to_human(presenter.view_sum)
      %span.views.hidden
        = presenter.view_sum
  %td{:class => "table-link-cell"}
    %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
      %span.students
        = presenter.user_count
  - unless Features.wiki_ed?
    %td{:class => "table-link-cell"}
      %a.course-link{:href => "#{campaign_path(campaign.slug)}"}
        %span.creation-date
          = presenter.creation_date
