- content_for :before_title, t('courses.campaign_articles', title: @campaign.title) + ' — '

= render 'nav'

.container
  %section.overview.container
    = render 'courses/header_stats', presenter: @presenter

.container
  %section#campaign-articles
    .section-header
      %h3
        = t('courses.campaign_articles', title: @campaign.title)
      .sort-select
        %select.sorts{rel: 'campaign-articles'}
          %option{rel: 'asc', value: 'title'}
            = t("articles.title")
          %option{rel: 'desc', value: 'char_added'}
            = t("metrics.char_added")
          %option{rel: 'desc', value: 'views'}
            = t("metrics.view")
          %option{rel: 'asc', value: 'lang_project'}
            = t("articles.wiki")

    %table.table.table--hoverable.table--sortable
      %thead
        %tr
          %th.sort.sortable.asc{'data-default-order' => 'asc', 'data-sort' => 'title'}
            = t('articles.title')
            %span.sortable-indicator
          %th.sort.sortable{'data-default-order' => 'desc', 'data-sort' => 'char_added'}
            .tooltip-trigger
              = t('metrics.char_added')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('articles.character_doc')
          %th.sort.sortable{'data-default-order' => 'desc', 'data-sort' => 'views'}
            .tooltip-trigger
              = t('metrics.view')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('articles.view_doc')
          %th.sort.sortable{'data-sort' => 'lang_project'}
            = t('articles.wiki')
            %span.sortable-indicator

      - articles = @campaign.articles_courses.includes(article: :wiki).order(character_sum: :desc)

      %tbody.list
        - if articles.empty?
          %tr.disabled
            %td{:class => "text-center", :colSpan => 3}
              %span= I18n.t('articles.none')
        - else
          - articles.each do |ac|
            = render 'campaigns/article_row', article: ac.article, article_course: ac
