- content_for :javascripts do
  = javascript_include_tag '/assets/javascripts/jquery.min.js'
  = hot_javascript_tag("campaigns")

- content_for :before_title, t('courses.campaign_articles', title: @campaign.title) + ' — '

#react_root{data: {slug: @campaign.slug}}

.container
  %section.overview.container

.container
  %section#campaign-articles
    .section-header
      %h3
        = t('courses.campaign_articles', title: @campaign.title)
      .sort-select
        %select.sorts{rel: 'campaign-articles'}
          %option{rel: 'asc', value: 'title'}
            = t("articles.title")
          %option{rel: 'desc', value: 'char_added'}
            = t("metrics.char_added")
          %option{rel: 'desc', value: 'references'}
            = t("metrics.references_count")
          %option{rel: 'desc', value: 'views'}
            = t("metrics.view")
          %option{rel: 'asc', value: 'lang_project'}
            = t("articles.wiki")
          %option{rel: 'asc', value: 'course_title'}
            = t("#{@presenter.course_string_prefix}.courses")
      = form_tag(articles_campaign_path(@campaign.slug), method: :get, class: 'course-filters') do
        .form-fields
          .form-row
            = text_field_tag :title, params[:title], placeholder: t('form_search.search') + ' ' + t('articles.article_title'), class: 'form-control input-sm', style: 'width: 100%'
          .form-row
            %button.button.dark{type: 'button', onclick: "var el = document.getElementById('advanced-search-inputs'); el.style.display = el.style.display === 'none' ? 'block' : 'none';"}= t('form_search.advanced_search')
        #advanced-search-inputs{style: params.slice(:course_title, :char_added_from, :char_added_to, :references_count_from, :references_count_to, :view_count_from, :view_count_to).values.any?(&:present?) ? '' : 'display: none;'}
          .form-row
            = text_field_tag :course_title, params[:course_title], placeholder: t('form_search.search') + ' ' + t('courses.title'), class: 'form-control input-sm', style: 'width: 100%'
          .form-row{style: 'display: grid; grid-template-columns: 180px 1fr 80px 1fr; column-gap: 10px; align-items: center;'}
            %label{for: 'char_added_from'}= t("metrics.char_added") + ' ' + t('form_search.between')
            = number_field_tag :char_added_from, params[:char_added_from], class: 'form-control input-sm'
            %label{for: 'char_added_to'}= t('form_search.and')
            = number_field_tag :char_added_to, params[:char_added_to], class: 'form-control input-sm'
          .form-row{style: 'display: grid; grid-template-columns: 180px 1fr 80px 1fr; column-gap: 10px; align-items: center;'}
            %label{for: 'references_count_from'}= t("metrics.references_count") + ' ' + t('form_search.between')
            = number_field_tag :references_count_from, params[:references_count_from], class: 'form-control input-sm'
            %label{for: 'references_count_to'}= t('form_search.and')
            = number_field_tag :references_count_to, params[:references_count_to], class: 'form-control input-sm'
          .form-row{style: 'display: grid; grid-template-columns: 180px 1fr 80px 1fr; column-gap: 10px; align-items: center;'}
            %label{for: 'view_count_from'}= t("metrics.view") + ' ' + t('form_search.between')
            = number_field_tag :view_count_from, params[:view_count_from], class: 'form-control input-sm'
            %label{for: 'view_count_to'}= t('form_search.and')
            = number_field_tag :view_count_to, params[:view_count_to], class: 'form-control input-sm'
        .form-actions
          = submit_tag t('form_search.search'), class: 'button'
          = link_to t('form_search.clear'), articles_campaign_path(@campaign.slug), class: 'button'
    %table.table.table--hoverable.table--sortable
      %thead
        %tr
          %th.sort.sortable{'data-default-order' => 'asc', 'data-sort' => 'title'}
            = t('articles.title')
            %span.sortable-indicator
          %th.sort.sortable.desc{'data-default-order' => 'desc', 'data-sort' => 'char_added'}
            .tooltip-trigger
              = t('metrics.char_added')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('articles.character_doc')
          %th.sort.sortable{'data-default-order' => 'desc', 'data-sort' => 'references'}
            .tooltip-trigger
              = t('metrics.references_count')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('metrics.references_doc')
          %th.sort.sortable{'data-default-order' => 'desc', 'data-sort' => 'views'}
            .tooltip-trigger
              = t('metrics.view')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('articles.view_doc')
          %th.sort.sortable{'data-sort' => 'lang_project'}
            = t('articles.wiki')
            %span.sortable-indicator
          %th.sort.sortable{'data-sort' => 'course_title'}
            = t("#{@presenter.course_string_prefix}.courses")
            %span.sortable-indicator

      -  result = @presenter.campaign_articles
      -  articles_courses = result[:articles_courses]
      -  courses = result[:courses]
      -  articles = result[:articles]

      = will_paginate articles_courses

      %tbody.list
        - if articles_courses.empty?
          %tr.disabled
            %td{:class => "text-center", :colSpan => 7}
              %span= I18n.t('articles.none')
        - else
          - articles_courses.each do |ac|
            - course = courses[ac.course_id]
            - article = articles[ac.article_id]
            - cache ["article_row", ac.article_id, ac.course_id, ac.updated_at, locale] do
              = render 'campaigns/article_row', article:, article_course: ac, course:

    = will_paginate articles_courses