- content_for :before_title, 'Campaigns — '

= hot_javascript_tag 'campaigns'

.container.dashboard
  %header
    %h1
      = t('campaign.campaigns')

%section
  .container
    %hr
    - if current_user && (current_user.admin? || Features.open_course_creation?)
      %div
        %button.button.dark.create-campaign-button
          = t('campaign.create_campaign')

    %div.create-modal-wrapper{class: @campaign.errors.any? || params[:create] ? 'show-create-modal' : 'hidden'}
      = render 'create_modal'

%section.campaign-list
  .container
    %ul
      - @campaigns.each do |campaign|
        %li
          = link_to campaign.title, "/campaigns/#{campaign.slug}"
          = " (CSVs: "
          = link_to 'students', "/campaigns/#{campaign.slug}/students.csv"
          = ", "
          = link_to 'students by course', "/campaigns/#{campaign.slug}/students.csv?course=true"
          = ", "
          = link_to 'instructors by course', "/campaigns/#{campaign.slug}/instructors.csv?course=true"
          = ", "
          = link_to 'course data', "/campaigns/#{campaign.slug}/courses.csv"
          = ")"
