- content_for :before_title, 'Campaigns — '

= hot_javascript_tag 'campaigns'

.container.dashboard
  %header
    %h1
      = t('campaign.campaigns')

%section
  .container
    %hr
    - if current_user && (current_user.admin? || Features.open_course_creation?)
      %div
        %button.button.dark.create-campaign-button
          = t('campaign.create_campaign')

    %div.create-modal-wrapper{class: @campaign.errors.any? || params[:create] ? 'show-create-modal' : 'hidden'}
      = render 'create_modal'

.container
  %section#js-campaigns.campaign-list
    %table.table.table--sortable
      %thead
        %tr
          %th.sort.sortable.asc{'data-default-order' => 'asc', 'data-sort' => 'title'}
            Title
            %span.sortable-indicator
          %th{:colspan => "5"}
            CSVs
      %tbody.list
        - @campaigns.each do |campaign|
          %tr
            %td.title
              = link_to campaign.title, "/campaigns/#{campaign.slug}/overview"
            %td 
              = link_to 'students', "/campaigns/#{campaign.slug}/students.csv"
            %td
              = link_to 'students by course', "/campaigns/#{campaign.slug}/students.csv?course=true"
            %td
              = link_to 'instructors by course', "/campaigns/#{campaign.slug}/instructors.csv?course=true"
            %td
              = link_to 'course data', "/campaigns/#{campaign.slug}/courses.csv"
