= render 'nav'
= hot_javascript_tag 'campaigns'

.container.campaign_main
  %section.overview.container
    .stat-display
      = render 'courses/header_stats', presenter: @presenter
    .primary
      = form_for(@campaign, url: campaign_path(@campaign.slug), html: { class: 'module campaign-description rails_editable' }) do
        = hidden_field(:campaign, :slug)
        .section-header
          %h3
            = succeed ':' do
              = t('campaign.campaign')
            = @campaign.title
          .controls
            - if @editable
              %button.button.dark.rails_editable-edit
                = t('editable.edit_description')
        .module__data.rails_editable-field
          %p.rails_editable-content
            = @campaign.description
          = text_area(:campaign, :description, class: 'rails_editable-input', style: 'display:none')
    .sidebar
      .campaign-create
        %button.button.dark
          = t('courses_generic.creator.create_short')
      .module.campaign-details.rails_editable
        .section-header
          %h3
            = t('application.details')
          .controls
            - if @editable
              %button.button.dark.rails_editable-edit
                = t('editable.edit_details')
        .module__data.extra-line-height
          %span.campaign-organizers
            %div
              %strong
                = succeed ':' do
                  = t('campaign.organizers')
              %span
                - @campaign.organizers.each do |organizer|
                  = organizer.username
          %span.pop__container
            %button.button.border.plus{style: 'display:none'} +
            .pop
              %table
                %tbody
                  %tr.edit
                    %td
                      = form_for(@campaign, url: campaign_path(@campaign.slug)) do
                        %input
                        %button.button.border Add organizer
                  - @campaign.organizers.each do |organizer|
                    %tr
                      %td
                        %span
                          = organizer.username
                        %button.button.border.plus -
      - if @editable
        = form_for(@campaign, url: campaign_path(@campaign.slug), method: :delete, html: { class: 'campaign-delete', 'data-title' => @campaign.title }) do
          %button.button.danger
            = t('campaign.delete_campaign')
