- content_for :before_title, t("#{Features.default_course_string_prefix}.campaign_courses", title: @campaign.title) + ' — '

= render 'nav'

%header.main-page
  .container
    = render 'courses/header_stats', presenter: @presenter

.container
  %section#courses
    .section-header
      %h3
        = t("#{Features.default_course_string_prefix}.campaign_courses", title: @campaign.title)
      .sort-select
        %select.sorts{rel: 'courses'}
          %option{rel: 'asc', value: 'title'}
            = t("courses.title")
          %option{rel: 'asc', value: 'school'}
            = t("courses.school")
          %option{rel: 'desc', value: 'revisions'}
            = t("metrics.revisions")
          %option{rel: 'desc', value: 'characters'}
            = t("metrics.word_count")
          %option{rel: 'desc', value: 'average-words'}
            = t("metrics.word_count_average")
          %option{rel: 'desc', value: 'views'}
            = t("metrics.view")
          %option{rel: 'desc', value: 'students'}
            = t("users.editors")
          %option{rel: 'desc', value: 'creation-date'}
            = t("courses.creation_date")
          %option{rel: 'desc', value: 'untrained'}
            = t("courses.untrained")

    %table.table.table--hoverable.table--sortable
      %thead
        %tr
          %th.sort.sortable.asc{'data-default-order' => 'asc', 'data-sort' => 'title'}
            = t("#{@presenter.course_string_prefix}.courses")
            %span.sortable-indicator
          %th.sort.sortable{style: 'width: 200px;', 'data-default-order' => 'asc', 'data-sort' => 'school'}
            = t("#{@presenter.course_string_prefix}.school_and_term")
            %span.sortable-indicator
          %th.sort.sortable{style: 'width: 165px;', 'data-default-order' => 'desc', 'data-sort' => 'revisions'}
            .tooltip-trigger
              = t('metrics.revisions')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('courses.revisions_doc', timeframe: RevisionStat::REVISION_TIMEFRAME)
          %th.sort.sortable{style: 'width: 172px;', 'data-default-order' => 'desc', 'data-sort' => 'characters'}
            .tooltip-trigger
              = t('metrics.word_count')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= course_i18n('word_count_doc')
          %th.sort.sortable{style: 'width: 125px;', 'data-default-order' => 'desc', 'data-sort' => 'views'}
            .tooltip-trigger
              = t('metrics.view')
              %span.sortable-indicator
              %span.tooltip-indicator
              .tooltip.dark
                %p= t('courses.view_doc')
          %th.sort.sortable{style: 'width: 200px;', 'data-default-order' => 'desc', 'data-sort' => 'students'}
            = t('users.editors')
            %span.sortable-indicator
          - if @presenter.can_remove_course?
            %th{style: 'width:100px'}
              = t('courses.actions')
      %tbody.list
        - if @search_terms.present?
          %h4= t('application.search_results', search_terms: @search_terms)
          - @presenter.search_courses(@search_terms).each do |c|
            = render 'campaigns/course_row', course: c, admin: false, user: false
        - else
          - @presenter.courses_by_recent_edits.each do |c|
            = render 'campaigns/course_row', course: c, admin: false, user: false
