<li class="row article-list__row">
  <%= link_to file.url, :target => "_blank" do %>
  <div class="row__wrapper">
    <div class="article-list__row__title">
      <p class="file_name"><%= file.file_name %></p>
    </div>
    <div class="article-list__row__title">
      <p class="uploaded_by"><%= file.user.wiki_id %></p>
    </div>
    <div class="article-list__row__characters">
      <p>
        <span class="tablet-only-flex"><%= t("metrics.char") %>: </span>
        <span class="usage"><%= file.usage_count %></span>
      </p>
    </div>
    <div class="article-list__row__views">
      <p>
        <span class="tablet-only-flex"><%= t("metrics.date_time") %>: </span>
        <span class="date_time"><%= file.uploaded_at.strftime("%Y-%m-%d %k:%M") %> UTC</span>
      </p>
    </div>
    <div class="row__fake__link"><p class="icon icon-arrow"></p></div>
  </div>
  <% end %>
</li>
