%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %h1.headline
                = "#{@subject}"
              %p.paragraph
                = "Course: "
                %a{href: @course_link}= @course.title
              %p.paragraph
                = "Dear Instructors,"
              %p.paragraph
                = "#{@message}"

        %table
          %tr
            %td.main-content
              %p.paragraph
                Best regards,
                %br
                %em
                  The Wiki Education team
