<!DOCTYPE html>
<html <%= rtl? ? "dir=rtl" : "" %>>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(Rails.env == "development") %>
      <title><%= content_for?(:title) ? yield(:title) : "D WikiEdu Dashboard" %></title>
    <% elsif(Rails.env == "staging") %>
      <title><%= content_for?(:title) ? yield(:title) : "S WikiEdu Dashboard" %></title>
    <% else %>
      <title><%= content_for?(:title) ? yield(:title) : "WikiEdu Dashboard" %></title>
    <% end %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">

    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Droid+Serif', media: 'all' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto', media: 'all' %>
    <%= stylesheet_link_tag '/stylesheets/' + (rtl? ? 'rtl/' : '') + 'main.css', media: 'all' %>
    <%= javascript_include_tag '/javascripts/vendor.js' %>
    <%= javascript_include_tag '/javascripts/main.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="logo">
          <a class="logo__link" href="http://wikiedu.org" target="_blank" title="wikiedu.org"><%= image_tag "/images/wiki-logo.png" %></a>
        </div>
        <nav>
          <div class="nav__item <%= content_for?(:navigation) ? '' : 'active' %>">
            <p class="subtitle desktop-only"><%= link_to 'Global Dashboard', root_url %></p>
            <p class="subtitle tablet-only"><%= link_to 'Home', root_url %></p>
          </div>
          <%= content_for?(:navigation) ? yield(:navigation) : '' %>
        </nav>
<!--         <div class="login">
          <a href="#" class="inline">Login</a>
        </div> -->
      </aside>
      <main role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
