- content_for :head do
  = dashboard_stylesheet_tag("main")

- content_for :javascripts do
  = javascript_include_tag fingerprinted('/assets/javascripts/', 'main.js')
  
!!!
%html{ dir: rtl? ? "rtl" : nil}
  = render "shared/head"
  %body{class: body_class(request)}
    = render "shared/flash"
    %div
      = render "shared/nav"
      %main#main{"data-user-id" => current_user.try(:id), :role => "main"}
        = yield
    = render "shared/foot"
