<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WikiEdu Dashboard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Serif', media: 'all' %>
    <%= stylesheet_link_tag '/assets/stylesheets/main.css', media: 'all' %>
    <%= javascript_include_tag '/assets/javascripts/vendor.js' %>
    <%= javascript_include_tag '/assets/javascripts/main.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <a class="main-logo" href="http://wikiedu.org" target="_blank" title="wikiedu.org">WIKIEDU.ORG</a>
    </header>
    <main role="main">
       <%= yield %>
    </main>
  </body>
</html>
