- content_for :head do
  = dashboard_stylesheet_tag("main")

- content_for :javascripts do
  = hot_javascript_tag("main")

!!!
%html{ dir: rtl? ? "rtl" : nil}
  = render "shared/head"
  = render "shared/vega"
  %body{class: body_class(request)}
    = render "shared/flash"
    %div.wrapper
      #nav_root{"data-rooturl" => main_app.root_url, "data-logopath" => logo_path, "data-fluid" => "false", "data-exploreurl" =>  main_app.explore_path, "data-explorename" => t(Features.wiki_ed? ? "application.explore" : "courses_generic.explore")}
      %main#main{"data-user-id" => current_user&.id, :role => "main"}
        = yield
      .push
    = render "shared/foot"
