- content_for :head do
  = dashboard_stylesheet_tag("main")

- content_for :javascripts do
  = hot_javascript_tag("main")

!!!
%html{ dir: rtl? ? "rtl" : nil}
  = render "shared/head"
  = render "shared/vega"
  %body{class: body_class(request)}
    = render "shared/flash"
    %div.wrapper

      #react_root{"data-main_app" => main_app}
      %main#main{"data-user-id" => current_user&.id, :role => "main"}
        = yield
      .push
    = render "shared/foot"
