- content_for :head do
  = dashboard_stylesheet_tag("main")

- content_for :javascripts do
  = hot_javascript_tag("main")

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.home
    %div
      #nav_root{"data-rooturl" => main_app.root_url, "data-test" => "hello"}
      %main
        = render "shared/flash"
        = yield
    = render "shared/foot"
