- content_for :head do
  = dashboard_stylesheet_tag("main")

- content_for :javascripts do
  = hot_javascript_tag("main")

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.home
    %div
      #react_root{ "data-rootUrl" => main_app.root_url }
      %main
        = render "shared/flash"
        = yield
    = render "shared/foot"
