- content_for :head do
  = dashboard_stylesheet_tag("main")

- content_for :javascripts do
  = javascript_include_tag fingerprinted('/assets/javascripts/', 'main.js')

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.onboarding
    %div
      = render "shared/nav", fluid: true
      %main
        = render "shared/flash"
        = yield
    = render "shared/foot"
