- content_for :head do
  - if ENV["livereload"]
    = stylesheet_link_tag "/assets/stylesheets/main.css"
  - else
    = stylesheet_link_tag fingerprinted("/assets/stylesheets/#{rtl? ? 'rtl/' : nil}", 'main.css'), media: 'all'

- content_for :javascripts do
  = javascript_include_tag fingerprinted('/assets/javascripts/', 'main.js')

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.onboarding
    %div
      = render "shared/nav", fluid: true
      %main
        - if flash[:notice]
          .notification= flash[:notice]
        = yield
    = render "shared/foot"
