!!!
%html{ dir: rtl? ? "rtl" : nil }
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  - before = content_for?(:before_title) ? yield(:before_title) : ''
  - after = content_for?(:after_title) ? yield(:after_title) : ''
  %title= raw "#{before}#{ENV['dashboard_title']}#{after}"
  = logo_favicon_tag
  %meta{content: ENV['meta_description'] || 'Wiki Dashboard', name: "description"}

  = dashboard_stylesheet_tag("main")
  %script(src="https://unpkg.com/react@16.0.0/umd/react.production.min.js")
  %script(src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js")

  = javascript_include_tag '/assets/javascripts/i18n'
  = i18n_javascript_tag I18n.locale.to_s
  :javascript
    I18n.defaultLocale = "#{I18n.default_locale}";
    I18n.locale = "#{I18n.locale}";
    I18n.availableLocales = #{I18n.available_locales.to_json.html_safe}

  %body
    %div
      = yield
      :css
        .tooltip-trigger { pointer-events: none }
        .stat-display { margin-top: 20px }
        body { height: 0; background: white; }
