- content_for :head do
  -# = dashboard_stylesheet_tag("main")
  = stylesheet_pack_tag 'stylesheet-main'
  -# = dashboard_stylesheet_tag("styleguide")
  = stylesheet_pack_tag 'stylesheet-styleguide'

- content_for :javascripts do
  -# = hot_javascript_tag("styleguide")
  = javascript_pack_tag 'styleguide'

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.styleguide
    = yield
    = render "shared/foot"
