- content_for :head do
  = dashboard_stylesheet_tag("main")
  = dashboard_stylesheet_tag("surveys")


- content_for :javascripts do
  /

!!!
%html{ dir: rtl? ? "rtl" : nil, class: body_class(request)}
  = render "shared/head"
  %body{class: body_class(request)}
    = render "shared/flash"
    %div
      = render "shared/nav"
      = render "surveys/navigation"
      %main#main{"data-user-id" => current_user.try(:id), :role => "main"}
        = yield
    = render "shared/foot"
    = hot_javascript_tag("survey")
    - if can_administer?
      = hot_javascript_tag("survey_admin")
    = content_for :additional_javascripts
