- content_for :head do
  = dashboard_stylesheet_tag("main")
  = dashboard_stylesheet_tag("surveys")


- content_for :javascripts do
  /

!!!
%html{ dir: rtl? ? "rtl" : nil, class: body_class(request)}
  = render "shared/head"
  %body{class: body_class(request)}
    = render "shared/flash"
    %div.wrapper
      = render "shared/nav"
      = render "surveys/navigation"
      %main#main{"data-user-id" => current_user&.id, :role => "main"}
        = yield
      .push
    = render "shared/foot"
    // survey.js sometimes interferes with the rendering of results.
    = hot_javascript_tag("survey") unless page_class == 'surveys results'
    - if can_administer?
      = hot_javascript_tag("survey_admin")
    = content_for :additional_javascripts
