- content_for :head do
  = dashboard_stylesheet_tag("training")

- content_for :javascripts do
  = javascript_include_tag fingerprinted('/assets/javascripts/', 'main.js')

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.training
    = render "shared/flash"
    %div
      = render "shared/nav", fluid: true
      %main#main{"data-user-id" => current_user.try(:id), :role => "main"}
        = yield
    = render "shared/foot"
