- content_for :head do
  = dashboard_stylesheet_tag("training")

- content_for :javascripts do
  = hot_javascript_tag("main")

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body.training
    = render "shared/flash"
    %div.wrapper
      = render "shared/nav"
      %main#main{"data-user-id" => current_user&.id, :role => "main"}
        = yield
      .push
    = render "shared/foot"
